Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Minor style changes
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
Due: none

Ingore triplit snapshots in git
  .gitignore
Due: none

Add basic test for messaging
  e2e/general.spec.ts
  src/lib/components/im/ImInput.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/Message.svelte
  src/lib/components/im/MessageContextMenu.svelte
Due: lint-js, prettier

Finished messaging e2e test
  e2e/general.spec.ts
Due: lint-js, prettier

Have current user default to bringing everything if they propose something
  src/lib/bringlist.ts
  src/lib/components/bringlist/BringItemProgressBar.svelte
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/bringlist/CrudItem.svelte
  src/routes/(user)/dashboard/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Issue deleting bring list item
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/bringlist.ts
  src/lib/components/bringlist/BringItemProgressBar.svelte
  src/lib/components/bringlist/CrudItem.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Still can't delete, but better than before for bring list
  src/lib/components/bringlist/CrudItem.svelte
  triplit/schema.ts
Due: lint-js, prettier

Allow deleting notifications
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
  src/lib/server/push.ts
Due: lint-js, prettier

Prevent SetProfilePicAlert from flashing before being removed on load
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/SetProfilePicAlert.svelte
Due: none

Minor improvements to announcements
  src/lib/components/Announcement.svelte
  src/lib/components/main-bonfire-event/SetProfilePicAlert.svelte
Due: none

Start Delete/Leaving attendees e2e test
  e2e/general.spec.ts
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/enums.ts
  src/lib/rsvp.ts
  src/lib/triplit.ts
  src/routes/(user)/dashboard/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Finish Delete/Leaving attendees e2e test
  e2e/general.spec.ts
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/ProfileAvatar.svelte
Due: lint-js, prettier

Create historical for temporary_attendees_changes
  e2e/general.spec.ts
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/rsvp/UpdatePlusOneSelect.svelte
  src/lib/enums.ts
  src/lib/rsvp.ts
  src/lib/types.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/update-rsvp/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Create historical for attendees_changes
  src/lib/rsvp.ts
  src/lib/types.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
Due: lint-js, prettier

Undo passing url to back button bar
  src/lib/components/BackButton.svelte
Due: none

Basic showing of attendee changes
  src/lib/components/Announcement.svelte
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/bringlist/BringItemProgressBar.svelte
  src/lib/components/im/EmojiContextMenu.svelte
  src/lib/components/im/EmojiContextMenuEntry.svelte
  src/lib/components/im/Message.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/components/profile/profile-avatar/ProfileHistory.svelte
  src/lib/components/profile/profile-avatar/TriggerButton.svelte
  src/routes/(user)/profile/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Improve historical logs for attendees
  src/lib/components/HoverTextCard.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/components/profile/profile-avatar/history/ChangedByTempUser.svelte
  src/lib/components/profile/profile-avatar/history/ChangedByUser.svelte
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
  src/lib/components/time/DateCard.svelte
  src/lib/components/ui/hover-card/hover-card-content.svelte
  src/lib/components/ui/hover-card/index.ts
  src/lib/profilestore.ts
  src/lib/utils.ts
  triplit/schema.ts
Due: lint-js, prettier

Improve ProfileHistory (styling)
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
  src/lib/components/time/DateCard.svelte
Due: none

We need to add a create event for attendees
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
  src/lib/enums.ts
Due: lint-js, prettier

All e2e passing
  e2e/general.spec.ts
  package.json
  src/lib/components/BackButton.svelte
  src/lib/components/bringlist/CrudItem.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/rsvp/TempAttendeeDialog.svelte
  src/lib/rsvp.ts
  src/lib/utils.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/generate/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
  src/scripts/seed.ts
  triplit/schema.ts
Due: lint-js, prettier

History showing normally, no tests
  e2e/general.spec.ts
  src/lib/components/TextPopover.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EventHistory.svelte
  src/lib/components/profile/profile-avatar/history/ChangedByUser.svelte
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
  src/lib/rsvp.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Add AdminOnlySign
  src/lib/components/AdminOnlySign.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EventHistory.svelte
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
Due: none

Extend Delete/Leaving attendees with history checks
  e2e/general.spec.ts
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
Due: lint-js, prettier

Make sure "published" state is shown in dashboard
  src/routes/(user)/dashboard/+page.svelte
Due: none

Fix undefined access for id on bonfire page
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Check event history page in e2e test
  e2e/general.spec.ts
  src/lib/components/AdminOnlySign.svelte
  src/lib/components/main-bonfire-event/EventHistory.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/components/profile/profile-avatar/history/ChangedByUser.svelte
  src/lib/rsvp.ts
  src/lib/server/triplit.ts
  src/lib/utils.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
  src/routes/(user)/dashboard/+page.server.ts
  src/scripts/seed.ts
  triplit/schema.ts
Due: lint-js, prettier

Finished history e2e tests, removed user cannot access event anymore
  e2e/general.spec.ts
  src/lib/rsvp.ts
Due: lint-js, prettier

Make "share bonfire" more resilient
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Fix ugly bottom black band in bonfire, remove dupe push notif settings
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/settings/ResetLocalData.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  src/routes/(user)/settings/+page.svelte
Due: none

Update triplit
  package.json
  pnpm-lock.yaml
Due: prettier

Add basic delivery permission rewrite
  README.md
  drizzle/0009_flowery_puma.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/settings/DeliveryPermissionToggle.svelte
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/PermissionToggle.svelte
  src/lib/components/settings/PullToRefresh.svelte
  src/lib/components/settings/PushPermissions.svelte
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/enums.ts
  src/lib/permissions.ts
  src/lib/rsvp.ts
  src/lib/server/database/schema.ts
  src/lib/utils.ts
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/settings/+page.server.ts
  src/routes/(user)/settings/+page.svelte
  src/routes/(user)/settings/push/toggle-permission/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Sent trial sms with twilio
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
  src/lib/sms.ts
  src/routes/(user)/settings/phone/+page.svelte
  src/routes/(user)/settings/phone/send-verification-code/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Set icons for delivery perms
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
Due: none

Show phone number in settings
  src/lib/components/settings/PhoneNumber.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
  src/lib/jsrepo/ui/phone-input/phone-input.svelte
  src/lib/sms.ts
  src/routes/(user)/settings/+page.svelte
  src/routes/(user)/settings/phone/+page.svelte
  src/routes/(user)/settings/phone/send-verification-code/+server.ts
Due: lint-js, prettier

Improve landing page
  src/lib/components/About.svelte
  src/lib/components/Footer.svelte
  src/lib/components/GalleryItem.svelte
  src/lib/components/landing/AboutUs.svelte
  src/lib/components/landing/Features.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
Due: none

More landing page changes
  src/lib/components/About.svelte
  src/lib/components/landing/FAQ.svelte
  src/lib/components/landing/Hero.svelte
Due: none

Add asterisk to bonfire pricing
  src/lib/components/landing/AboutUs.svelte
  src/lib/components/landing/Pricing.svelte
  src/lib/components/landing/PricingFeature.svelte
Due: none

Minor update to landing page
  src/lib/components/landing/Hero.svelte
Due: none

Show phoneNumber in PhoneNumber
  src/lib/components/settings/PhoneNumber.svelte
  src/routes/(user)/settings/+page.svelte
Due: none

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
