Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Show cuttoff on card and bonfire
  src/lib/components/EventCard.svelte
  src/lib/components/eventform/feature-enablers/ToggleCuttoffRsvpDate.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/rsvp.ts
Due: lint-js, prettier

Create incode seeder
  src/hooks.server.ts
  src/lib/seed.ts
  src/lib/server/database/user.model.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Add isReal flags for demo db entries
  Makefile
  src/lib/seed.ts
  src/lib/server/database/user.model.ts
  src/routes/(login)/login/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

E2e passing and seeder working
  src/lib/server/database/user.model.ts
Due: lint-js, prettier

E2e passing and seeder working
  src/hooks.server.ts
  src/lib/server/database/user.model.ts
  src/routes/random/seeder/+page.server.ts
  src/routes/random/seeder/+page.svelte
Due: lint-js, prettier

Fix null error with event start time for cuttoff checker
  src/lib/components/eventform/EventForm.svelte
Due: none

Say when style changes are saved
  src/lib/components/event-styles/EventStyler.svelte
Due: none

Seed images for profiles from s3 seeder
  src/lib/components/eventform/EventForm.svelte
  src/lib/seed.ts
  src/lib/server/filestorage.ts
Due: lint-js, prettier

Make sure seed users are used once per bonfire
  src/lib/seed.ts
Due: lint-js, prettier

Minor stylistic updates
  src/lib/components/eventform/EventForm.svelte
  src/lib/seed.ts
  src/routes/(login)/login/+page.svelte
Due: lint-js, prettier

Seeding event working in local
  src/lib/bringlist.ts
  src/lib/components/BackButton.svelte
  src/lib/seed.ts
  src/routes/random/seeder/+page.server.ts
Due: lint-js, prettier

Crete basic meet questionnaire
  src/lib/components/LikertScaleButton.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/enums.ts
  src/routes/(user)/dashboard/+page.svelte
  src/routes/meet/questionnaire/+page.svelte
  static/favicon.svg
Due: lint-js, prettier

Update AddressInput
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/ui/progress/index.ts
  src/lib/components/ui/progress/progress.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: lint-js, prettier

Improve questionnaire for meet
  package.json
  pnpm-lock.yaml
  src/lib/enums.ts
  src/lib/jsrepo/ui/nlp-date-input/index.ts
  src/lib/jsrepo/ui/nlp-date-input/nlp-date-input.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: lint-js, prettier

Fix multiselect to expand vertically if lots of items
  src/routes/meet/questionnaire/+page.svelte
Due: none

improve survey structure
  src/lib/components/LikertScaleButton.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: none

Improve transitions in questionnaire
  src/routes/meet/questionnaire/+page.svelte
Due: none

Make survery array instead of map
  src/lib/enums.ts
  src/routes/meet/questionnaire/+page.svelte
Due: lint-js, prettier

Update flow for landing page when authed in
  src/lib/components/Logo.svelte
  src/lib/components/Onboarding.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/server/database/user.model.ts
  src/routes/(app)/+layout.server.ts
  triplit/schema.ts
Due: lint-js, prettier

Update pnpm packages
  package.json
  pnpm-lock.yaml
Due: prettier

E2e still passing
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/components/SetupMeet.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/landing/Hero.svelte
  triplit/schema.ts
Due: lint-js, prettier

Update npm packages, e2e passing
  package.json
  pnpm-lock.yaml
Due: prettier

Style the temp popup for bonfire meet
  package.json
  src/lib/components/SetupMeet.svelte
  src/routes/(user)/dashboard/+page.svelte
  tailwind.config.ts
  triplit/schema.ts
Due: lint-js, prettier

Working along questionnaire logic
  src/lib/components/Alert.svelte
  src/lib/components/SetupMeet.svelte
  src/routes/(user)/profile/+page.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: none

Save meet questionnaire
  src/lib/components/SetupMeet.svelte
  src/routes/meet/+layout.server.ts
  src/routes/meet/questionnaire/+page.svelte
Due: lint-js, prettier

Add lastUpdatedAt to questionnaire
  src/lib/components/SetupMeet.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: none

Show terms of notifs and privacy policy in questionnaire (correct it)
  src/routes/meet/questionnaire/+page.svelte
Due: none

Update likert scale to always be 0-100 scale
  src/lib/components/LikertScaleButton.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: none

Questionnaire done
  src/lib/components/LikertScaleButton.svelte
  src/lib/components/SetupMeet.svelte
  src/routes/(user)/profile/+page.svelte
  src/routes/meet/questionnaire/+page.svelte
  src/routes/meet/welcome/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Update minor details and add linkgs to terms and privacy policy in-app
  src/routes/(app)/privacy-policy/+page.svelte
  src/routes/(user)/settings/+page.svelte
  src/routes/clear/+layout.server.ts
  src/routes/feedback/+layout.server.ts
  src/routes/feedback/+page.svelte
Due: lint-js, prettier

Add random background on login page
  src/routes/(login)/login/+page.svelte
Due: none

Allow changing theme on landing page
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/landing/AboutUs.svelte
  src/lib/components/landing/Features.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/Pricing.svelte
Due: none

Improve styling on landing page for light theme
  src/lib/components/Footer.svelte
  src/lib/components/landing/AboutUs.svelte
  src/lib/components/landing/EventCards.svelte
  src/lib/components/landing/Features.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Add title to setup bonfire meet
  src/lib/components/SetupMeet.svelte
Due: none

Preload fonts and bg on landing page
  src/lib/components/SetupMeet.svelte
  src/lib/components/landing/EventCards.svelte
  src/lib/components/landing/Features.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/Pricing.svelte
Due: none

Tie meet to onboarding flow (as optional)
  src/lib/components/landing/Hero.svelte
  src/routes/(bonfire)/bonfire/[[id]]/update/reminders/+server.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/login/google/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
  src/routes/(user)/onboarding/permissions/+page.svelte
  src/routes/meet/intro/+page.svelte
  src/routes/meet/questionnaire/+page.svelte
  src/routes/meet/welcome/+page.svelte
Due: lint-js, prettier

Update feedback page for styling issue
  src/lib/components/PageNavigationLoader.svelte
  src/routes/feedback/+page.svelte
Due: none

Make dark theme switcher visible at all times
  src/lib/components/Header.svelte
Due: none

Fix page navigation loader to show for hrefs too
  src/lib/components/PageNavigationLoader.svelte
  src/routes/meet/welcome/+page.svelte
Due: none

Separate MeetSettingsCard
  src/lib/components/landing/Features.svelte
  src/lib/components/meet/MeetSettingsCard.svelte
  src/lib/components/meet/SetupMeet.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/profile/+page.svelte
Due: none

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
