Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Show toasts and check for auth in tus handler
  src/hooks.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  uploads/088ed44cd3dea333d2080e9c81458abb
  uploads/088ed44cd3dea333d2080e9c81458abb.json
  uploads/13d7429b773351f6ec23fc93b99f9c3e.json
  uploads/ced9398e2bf222db495203ee484b1880
  uploads/ced9398e2bf222db495203ee484b1880.json
  uploads/dc1b498e1a1ccd40c724d4557f8b6d8d.json
  uploads/e566dabbec10f9b04795c141707f7374
  uploads/e566dabbec10f9b04795c141707f7374.json
Due: lint-js, prettier

Make starting TUS a little nicer with elegant shutdown (ish)
  src/hooks.server.ts
  src/lib/components/GalleryItem.svelte
  uploads/652e7d5b213d30e01df18b7731f7b0da.json
Due: lint-js, prettier

Clean up dead code
  .gitignore
  src/hooks.server.ts
  src/routes/api/tus/files/[[id]]/+server.ts
Due: lint-js, prettier

Dop not commit data files
  uploads/088ed44cd3dea333d2080e9c81458abb
  uploads/088ed44cd3dea333d2080e9c81458abb.json
  uploads/13d7429b773351f6ec23fc93b99f9c3e.json
  uploads/652e7d5b213d30e01df18b7731f7b0da.json
  uploads/ced9398e2bf222db495203ee484b1880
  uploads/ced9398e2bf222db495203ee484b1880.json
  uploads/dc1b498e1a1ccd40c724d4557f8b6d8d.json
  uploads/e566dabbec10f9b04795c141707f7374
  uploads/e566dabbec10f9b04795c141707f7374.json
Due: prettier

Regen lock file
  e2e/general.spec.ts
  pnpm-lock.yaml
Due: lint-js, prettier

Set node versio to >20.18.1
  package.json
Due: prettier

Turn off CORS for tus internal server
  src/hooks.server.ts
Due: lint-js, prettier

Update Dockerfile
  .dockerignore
  .gitignore
  Dockerfile
Due: none

Remove kamal secrets
  .kamal/secrets
Due: none

Run sveltejs/kit sync to get env vars correctly generated
  Dockerfile
Due: none

Update dockerfile
  .env.example
  Dockerfile
Due: none

Add vars to kamal
  config/deploy.yml
Due: none

Log PUBLIC_TRIPLIT_URL to check what it's set to
  src/hooks.server.ts
Due: lint-js, prettier

Set .env.example to empty vars
  .env.example
Due: none

Remove .env after generating public vars in dockerfile
  Dockerfile
Due: none

Set placeholders in .env.example
  .env.example
  Dockerfile
  svelte.config.js
Due: lint-js, prettier

Try another approach
  Dockerfile
Due: none

All e2e tests passing
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/hooks.server.ts
  src/lib/components/PushPermissions.svelte
  src/lib/filestorage.ts
  src/lib/server/auth.ts
  src/lib/server/triplit.ts
  src/lib/triplit.ts
  src/lib/webpush.ts
  src/routes/(admin)/admin/event-styles/+layout.server.ts
  src/routes/(app)/privacy-policy/+layout.ts
  src/routes/(app)/privacy-policy/+page.svelte
  src/routes/(app)/terms-of-use/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(login)/login/+page.server.ts
  src/routes/+layout.svelte
  src/routes/sitemap.xml/+server.ts
  src/scripts/seed.ts
  tests/notifications.test.ts
  tests/permissions.test.ts
Due: lint-js, prettier

Remove all $env/static/private
  src/lib/server/auth.ts
  src/lib/server/email/email.ts
  src/routes/stripe/stripe.ts
  src/routes/stripe/webhook/+server.ts
Due: lint-js, prettier

Fix static private vars
  src/lib/components/EventDoesNotExist.svelte
  src/lib/server/database/db.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Dont init turso in build
  .dockerignore
  src/lib/server/database/db.ts
Due: lint-js, prettier

Set dummy var for build and add healthcheck endpoint
  Dockerfile
  src/routes/up/+server.ts
Due: lint-js, prettier

Set app port in proxy
  config/deploy.yml
Due: none

Add https in vps
  config/deploy.yml
Due: none

Use real domain for kamal
  Makefile
  config/deploy.yml
Due: none

Great, main domain works, force http
  config/deploy.yml
Due: none

Revert "Great, main domain works, force http"
  config/deploy.yml
Due: none

Minor changes
  config/deploy.yml
  src/hooks.server.ts
Due: lint-js, prettier

Only check for tus opt params in POST
  src/hooks.server.ts
Due: lint-js, prettier

Set half duplex for tus uploads
  src/hooks.server.ts
Due: lint-js, prettier

Apparently we need to stream to tus
  src/hooks.server.ts
Due: lint-js, prettier

Tried change in kamal settings
  config/deploy.yml
  src/hooks.server.ts
Due: lint-js, prettier

Attach volume in Kamal
  Dockerfile
  config/deploy.yml
Due: none

Restart whole process, still facing tus errors
  src/hooks.server.ts
Due: lint-js, prettier

Tus upload working!
  package.json
  pnpm-lock.yaml
  src/hooks.server.ts
  src/routes/apia/tus/files/+server.ts
Due: lint-js, prettier

Put back auth checks in tus file uploads
  src/hooks.server.ts
Due: lint-js, prettier

Only have extensive TUS logs in dev
  src/hooks.server.ts
Due: lint-js, prettier

Fix preview.URL when preview is null
  src/lib/components/GalleryItem.svelte
Due: none

drop usage of ffprobe
  src/lib/filestorage.ts
Due: lint-js, prettier

Only extract first frame for videos, no random frame
  pnpm-lock.yaml
  src/lib/filestorage.ts
Due: lint-js, prettier
