Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Replace DropdownMenu with custom inline dropdown
  src/lib/components/main-bonfire-event/InviteUserCard.svelte
Due: none

Fix Triplit query method capitalization in ticketing system
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/feature-enablers/CurrencySelector.svelte
  src/lib/components/eventform/feature-enablers/TicketingFeature.svelte
  src/lib/components/tickets/TicketPurchaseForm.svelte
  src/lib/components/tickets/TicketTypeManager.svelte
  src/lib/components/tickets/UserTickets.svelte
  src/lib/currencies.ts
  src/lib/enums.ts
  src/lib/server/tickets.ts
  src/routes/api/tickets/purchase/+server.ts
  src/routes/api/tickets/types/+server.ts
  src/routes/api/tickets/webhook/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Implement comprehensive ticketing system with ticket holds
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/feature-enablers/CurrencySelector.svelte
  src/lib/components/eventform/feature-enablers/TicketingFeature.svelte
  src/lib/components/main-bonfire-event/InviteUserCard.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/rsvp/TicketPurchaseFlow.svelte
  src/lib/components/tickets/TicketPurchaseForm.svelte
  src/lib/components/tickets/TicketTypeManager.svelte
  src/lib/components/tickets/UserTickets.svelte
  src/lib/currencies.ts
  src/lib/enums.ts
  src/lib/rsvp.ts
  src/lib/server/tickets.ts
  src/routes/api/events/[eventId]/basic/+server.ts
  src/routes/api/tickets/hold/+server.ts
  src/routes/api/tickets/purchase/+server.ts
  src/routes/api/tickets/types/+server.ts
  src/routes/api/tickets/webhook/+server.ts
  src/routes/api/user/tickets/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Fix ticketing toggle to save to database immediately
  src/lib/components/eventform/feature-enablers/TicketingFeature.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
Due: lint-js, prettier

Fix CurrencySelector using proper shadcn-svelte Select pattern
  CLAUDE.md
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/feature-enablers/CurrencySelector.svelte
  src/lib/components/rsvp/TicketPurchaseFlow.svelte
Due: prettier

Prevent publishing incomplete ticketed events with clear warnings
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/rsvp.ts
Due: lint-js, prettier

Fix ticket type dropdown in TicketPurchaseFlow using proper shadcn-svelte Select
  src/lib/components/rsvp/TicketPurchaseFlow.svelte
Due: none

Add ticket hold cleanup and improve purchase flow error handling
  src/lib/components/rsvp/TicketPurchaseFlow.svelte
  src/routes/api/stripe/public-key/+server.ts
  src/routes/api/stripe/webhook/+server.ts
  src/routes/api/tickets/hold/cleanup/+server.ts
  src/routes/api/tickets/purchase/+server.ts
Due: lint-js, prettier

Fix fetchAccessibleEventFiles to return consistent object structure
  src/lib/server/filestorage.ts
Due: lint-js, prettier

Implement comprehensive invitation and announcement view tracking with admin notifications
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/InvitationStatusView.svelte
  src/lib/components/announcements/AnnouncementHistory.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/server/notifications/notification_engine.ts
  src/lib/server/notifications/notifications.ts
  src/lib/server/notifications/unseen_checker.ts
  src/lib/server/scheduler.ts
  triplit/schema.ts
Due: lint-js, prettier

Extract event creation/update logic to shared utility
  src/lib/components/eventform/creation-flow/EventCreationFlow.svelte
  src/lib/event-operations.ts
Due: lint-js, prettier

Fix JWT issue for guided event creation route
  src/routes/(bonfire)/bonfire/create/guided/+page.svelte
Due: none

Implement guided event creation flow with step-by-step navigation
  CLAUDE.md
  src/lib/components/Datepicker.svelte
  src/lib/components/DoubleDigitsPicker.svelte
  src/lib/components/KeyBoardShortcut.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/creation-flow/EventCreationFlow.svelte
  src/lib/components/eventform/creation-flow/flow-config.ts
  src/lib/components/eventform/creation-flow/flow-enums.ts
  src/lib/components/eventform/creation-flow/steps/DateTimeStep.svelte
  src/lib/components/eventform/creation-flow/steps/DescriptionStep.svelte
  src/lib/components/eventform/creation-flow/steps/EventNameStep.svelte
  src/lib/components/eventform/creation-flow/steps/EventOptionsStep.svelte
  src/lib/components/eventform/creation-flow/steps/LocationStep.svelte
  src/lib/components/eventform/creation-flow/steps/PaidEventStep.svelte
  src/lib/components/eventform/creation-flow/steps/TicketingSetupStep.svelte
  src/lib/event-operations.ts
  src/routes/(user)/dashboard/+page.svelte
  src/routes/org/[id]/+page.svelte
Due: lint-js, prettier

Add e2e tests for guided event creation flow (WIP)
  e2e/general.spec.ts
Due: lint-js, prettier

Minor change to playwright test
  e2e/general.spec.ts
Due: lint-js, prettier

Add group photo notifications for events with 5+ attendees
  src/lib/enums.ts
  src/lib/server/notifications/group_photo.ts
  src/lib/server/scheduler.ts
  triplit/schema.ts
Due: lint-js, prettier

Format code with Prettier
  e2e/general.spec.ts
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/Datepicker.svelte
  src/lib/components/InvitationStatusView.svelte
  src/lib/components/announcements/AnnouncementHistory.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/creation-flow/EventCreationFlow.svelte
  src/lib/components/eventform/creation-flow/flow-config.ts
  src/lib/components/eventform/creation-flow/flow-enums.ts
  src/lib/components/eventform/creation-flow/steps/DateTimeStep.svelte
  src/lib/components/eventform/creation-flow/steps/DescriptionStep.svelte
  src/lib/components/eventform/creation-flow/steps/EventNameStep.svelte
  src/lib/components/eventform/creation-flow/steps/EventOptionsStep.svelte
  src/lib/components/eventform/creation-flow/steps/LocationStep.svelte
  src/lib/components/eventform/creation-flow/steps/PaidEventStep.svelte
  src/lib/components/eventform/creation-flow/steps/TicketingSetupStep.svelte
  src/lib/event-operations.ts
  src/lib/server/notifications/unseen_checker.ts
  src/routes/(bonfire)/bonfire/create/guided/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/api/stripe/public-key/+server.ts
  src/routes/api/stripe/webhook/+server.ts
  src/routes/org/[id]/+page.svelte
Due: lint-js, prettier

Add comprehensive organization member management system
  src/lib/components/OrganizationAdminEditor.svelte
  src/routes/api/organizations/[id]/invite-email/+server.ts
  src/routes/org/[id]/+page.svelte
  src/routes/org/[id]/manage/+page.server.ts
  src/routes/org/[id]/manage/+page.svelte
Due: lint-js, prettier

Add confirmation dialogs for organization member management actions
  src/routes/org/[id]/manage/+page.svelte
Due: none

Prevent admin self-removal when they are the only admin
  src/routes/org/[id]/manage/+page.svelte
Due: none

Fix user search functionality in organization member management
  src/routes/org/[id]/manage/+page.svelte
Due: none

Replace HTML select dropdowns with shadcn-svelte Select components
  src/routes/org/[id]/manage/+page.svelte
Due: none

Simplify organization roles to 2-tier system with clear naming
  src/lib/components/eventform/EventForm.svelte
  src/lib/organizations.ts
  src/routes/(user)/organizations/+page.svelte
  src/routes/api/organizations/[id]/invite-email/+server.ts
  src/routes/org/[id]/banner/edit/+page.server.ts
  src/routes/org/[id]/manage/+page.server.ts
  src/routes/org/[id]/manage/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Fix organization member management real-time updates and deletion
  src/lib/organizations.ts
  src/routes/org/[id]/manage/+page.svelte
Due: lint-js, prettier

Add member role as default organization role with view-only permissions
  src/lib/organizations.ts
  src/routes/org/[id]/manage/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Fix organization 404 error handling to show proper UI instead of 500 error
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/organizations.ts
  src/routes/api/organizations/[id]/join-request/+server.ts
  src/routes/api/organizations/[id]/join-requests/+server.ts
  src/routes/api/organizations/[id]/join-requests/[requestId]/approve/+server.ts
  src/routes/api/organizations/[id]/join-requests/[requestId]/reject/+server.ts
  src/routes/org/[id]/+page.server.ts
  src/routes/org/[id]/+page.svelte
  src/routes/org/[id]/manage/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Add group settings page and fix Manage Group button functionality
  src/routes/api/groups/[id]/+server.ts
  src/routes/api/groups/[id]/settings/+server.ts
  src/routes/group/[id]/+page.svelte
  src/routes/group/[id]/settings/+page.server.ts
  src/routes/group/[id]/settings/+page.svelte
Due: lint-js, prettier

Implement enhanced deletion with name verification and join request settings navigation
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/DeleteEventBtn.svelte
  src/routes/(bonfire)/bonfire/[[id]]/delete/+server.ts
  src/routes/api/groups/[id]/+server.ts
  src/routes/group/[id]/manage/+page.svelte
  src/routes/group/[id]/settings/+page.svelte
Due: lint-js, prettier

WIP
  CLAUDE.md
  recurring-events-plan.md
Due: prettier

Update VPS
  config/deploy.prod.yml
Due: none

Add .claude/ to gitignore
  .gitignore
Due: none

Feat: Improve Makefile 'up' command to ignore Mailpit errors and add help target.\n\n🤖 Generated with [Claude Code](https://claude.ai/code)\n\nCo-Authored-By: Claude <noreply@anthropic.com>
  Makefile
Due: none

Refactor: Remove unneeded nav links and about section from landing page
  src/lib/components/Header.svelte
  src/routes/(app)/+page.svelte
Due: none
