Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

More dark modes added
  src/lib/components/AnnouncementForm.svelte
  src/lib/components/BonfireBanner.svelte
  src/lib/components/EventStyler.svelte
  src/routes/(app)/terms-of-use/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/announcement/[[announcement_id]]/update/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/announcement/create/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Fix permission issues for anon in triplit schema
  triplit/schema.ts
Due: lint-js, prettier

Fix race condition when creating/deleting event
  src/lib/components/EventForm.svelte
Due: none

Styles changes, jwt handling, indiv file names for uploads
  e2e/general.spec.ts
  src/lib/components/EventStyler.svelte
  src/lib/filestorage.ts
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/update/+page.svelte
  src/routes/(user)/jwt/+server.ts
  src/routes/(user)/profile/username/+page.svelte
  src/routes/+layout.svelte
Due: lint-js, prettier

Use worker triplit client
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Make header dropdown menu bigger
  src/lib/components/Header.svelte
  src/lib/components/ToggleTheme.svelte
Due: none

Add reload button if no events found
  src/lib/components/Header.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Properly center things on dashboard
  src/routes/(user)/dashboard/+page.svelte
Due: none

PullTORefresh only on dashboard
  src/lib/components/PullToRefresh.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/+layout.svelte
Due: none

Redirect to dashboard when user is logged in
  src/lib/components/notifications/Notifications.svelte
  src/routes/(login)/login/+page.server.ts
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Update fetchProfileImageMap to update/add
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/profile/profile-images/+server.ts
Due: lint-js, prettier

Update +error.svelte
  src/routes/+error.svelte
Due: none

Refactor creating start/end dates in event form
  package.json
  pnpm-lock.yaml
  src/lib/components/EventForm.svelte
Due: prettier

Remove ugly edge around ProfileAvatar
  src/lib/components/ProfileAvatar.svelte
Due: none

Update event live
  package.json
  pnpm-lock.yaml
  src/lib/components/AmPmPicker.svelte
  src/lib/components/Datepicker.svelte
  src/lib/components/DoubleDigitsPicker.svelte
  src/lib/components/EventForm.svelte
  src/lib/components/LocationInput.svelte
  src/lib/components/TextAreaAutoGrow.svelte
  src/lib/components/TimezonePicker.svelte
Due: prettier

All e2e passing. Live update of bonfire event form
  src/lib/components/EventForm.svelte
  src/lib/notification.ts
  src/lib/server/triplit.ts
  src/lib/triplit.ts
  src/lib/utils.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/dashboard/+page.server.ts
  src/scripts/seed.ts
  tests/notifications.test.ts
Due: lint-js, prettier

Attempt to hide the flicker due to query loading on dashboard
  src/routes/(user)/dashboard/+page.svelte
Due: none

Add back button in gallery
  src/lib/components/BackButton.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Add capacity limit per event (just UI for now)
  package.json
  pnpm-lock.yaml
  src/lib/components/DoubleDigitsPicker.svelte
  src/lib/components/EventForm.svelte
  src/lib/components/eventform/MaxCapacity.svelte
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
  src/lib/types.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Finish max attendance enforcement
  src/lib/components/EventForm.svelte
  src/lib/components/Header.svelte
  src/lib/components/Rsvp.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/temp/check-name/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/temp/generate/+server.ts
  src/routes/(user)/profile/profile-images/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Minor style updates
  src/lib/components/BackButton.svelte
  src/lib/components/BonfireBanner.svelte
  src/lib/components/EventForm.svelte
  src/lib/components/eventform/MaxCapacity.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/upload/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Minor style changes
  src/lib/components/EventForm.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Minor updates
  e2e/general.spec.ts
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/mini-gallery/+server.ts
Due: lint-js, prettier

Update schema to support messaging
  triplit/schema.ts
Due: lint-js, prettier

Update viselect
  package.json
  pnpm-lock.yaml
Due: prettier

Fix media selection
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Try to fix image opening in window on tap
  src/lib/components/GalleryItem.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Add top safearea for ios
  src/app.html
  src/routes/+layout.svelte
Due: none

Prevent nav on image href for gallery when selection enabled (on ios)
  src/lib/components/GalleryItem.svelte
Due: none

Image still opening in window
  src/lib/components/GalleryItem.svelte
Due: none

Image navigation fixed when selection enabled in gallery
  src/lib/components/GalleryItem.svelte
Due: none

Use local-and-remote for dashboard fetches
  src/routes/(user)/dashboard/+page.svelte
Due: none

WIP
  src/lib/im.ts
  triplit/schema.ts
Due: lint-js, prettier

Default to loacl-and-remote for triplit
  src/lib/triplit.ts
Due: lint-js, prettier

Default to local-and-remote for triplit
  src/lib/triplit.ts
Due: lint-js, prettier

Update event styles and other minor things
  src/lib/components/Annoucements.svelte
  src/lib/components/Announcement.svelte
  src/lib/components/admin/StyleSettings.svelte
  src/routes/(admin)/admin/event-styles/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Create barebones for messaging UI
  package.json
  pnpm-lock.yaml
  src/lib/components/EmojiPicker.svelte
  src/lib/components/im/ImInput.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/Message.svelte
  src/lib/im.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Add emoji picker
  src/lib/components/EmojiPicker.svelte
  src/lib/components/im/ImInput.svelte
Due: none

Can send message
  src/lib/components/im/ImInput.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/im.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Correctly create thread and message
  src/lib/components/im/ImThreadView.svelte
  src/lib/im.ts
Due: lint-js, prettier

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
