Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Improve announcement design
  src/lib/components/Announcement.svelte
Due: none

Create PlusOneSelect (not yet correctly integrated)
  src/lib/components/EventCard.svelte
  src/lib/components/rsvp/PlusOneSelect.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Move edit button for announcement
  src/lib/components/Announcement.svelte
Due: none

Basic changes for guests, not working yet
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/rsvp/PlusOneSelect.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/rsvp/UpdatePlusOneSelect.svelte
  src/lib/server/triplit.ts
  src/routes/(bonfire)/+layout.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/generate/+server.ts
  src/routes/(login)/login/email-verification/+server.ts
  src/routes/(user)/jwt/+server.ts
Due: lint-js, prettier

Saving guests showing in temp and full user!
  src/lib/components/AddToCalendar.svelte
  src/lib/components/rsvp/PlusOneSelect.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/rsvp/TempAttendeeDialog.svelte
  src/lib/components/rsvp/UpdatePlusOneSelect.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/update-rsvp/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
  src/routes/(user)/onboarding/+page.svelte
Due: lint-js, prettier

Show extra guests on ProfileAvatar
  src/lib/components/ProfileAvatar.svelte
Due: none

Collapse MapLibre on load
  src/lib/components/map/Map.svelte
Due: none

Add guest count to max capacity enforcement
  src/lib/components/attendance/AttendeesCount.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Update numBringList and how we get BE bonfire data to be more efficient
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Fix maxCapacity showing correct number in EventForm
  src/lib/components/eventform/MaxCapacity.svelte
Due: none

Remove "leave event" for event creator
  src/lib/components/EventCard.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Fix EventCard event handlers
  src/lib/components/EventCard.svelte
  src/lib/components/rsvp/PlusOneSelect.svelte
Due: none

E2e tests passing
  e2e/general.spec.ts
  src/lib/components/rsvp/TempAttendeeDialog.svelte
  src/lib/components/rsvp/UpdatePlusOneSelect.svelte
  src/lib/triplit.ts
Due: lint-js, prettier

Minor changes
  src/lib/components/ProfileAvatar.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Start breaking down main bonfire view into components
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EditEventButton.svelte
  src/lib/components/main-bonfire-event/UnverifiedUserMsg.svelte
  src/lib/utils.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Extract more components from bonfire event view
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Extract attendees from bonfire view
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Remove issue with unauth dropdown #-based routing
  src/lib/components/Header.svelte
Due: none

Add "install dialog", btn unreliable
  package.json
  pnpm-lock.yaml
  src/lib/components/Header.svelte
  src/lib/components/InstallPwaBtn.svelte
  src/lib/components/buttons/LogoutButton.svelte
  tsconfig.json
Due: prettier

Compare prev and new bonfire for diffs
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/bonfire.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

All e2eui passing
  e2e/general.spec.ts
  src/lib/components/Header.svelte
  src/lib/components/InstallPwaBtn.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Update subqueries
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(user)/dashboard/+page.server.ts
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Fix turso sqlite breakage from triplit mass changes
  src/lib/server/database/emailtoken.model.ts
  src/lib/server/database/signin.model.ts
  src/lib/server/database/tasklock.ts
  src/lib/server/database/user.model.ts
  triplit/schema.ts
Due: lint-js, prettier

Update { output } to output for triplit inserts
  src/lib/bringlist.ts
  src/lib/components/AnnouncementForm.svelte
  src/lib/components/EventForm.svelte
  src/lib/filestorage.ts
  src/lib/im.ts
  src/lib/payments.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/generate/+server.ts
  src/scripts/seed.ts
  tests/notifications.test.ts
Due: lint-js, prettier

WIP, bugs in triplit
  src/lib/components/Annoucements.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/NumNewMessageIndicator.svelte
  src/lib/components/nonprofits/NonProfitManager.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
  src/lib/components/notifications/NotificationsIndicator.svelte
  src/lib/filestorage.ts
  src/lib/server/push.ts
  src/lib/triplit.ts
  src/lib/webpush.ts
  src/routes/(bonfire)/bonfire/[[id]]/announcement/[[announcement_id]]/update/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/mini-gallery/+server.ts
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/profile/non-profits/+page.svelte
  src/routes/(user)/settings/transactions-history/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Add is_demo_data field to models
  package.json
  pnpm-lock.yaml
  src/lib/components/landing/Hero.svelte
  src/lib/triplit.ts
  src/scripts/seed.ts
  triplit/schema.ts
Due: lint-js, prettier

Add demo WIP
  src/scripts/demo.ts
Due: lint-js, prettier

Add feedback button
  package.json
  src/lib/components/Header.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/triplit.ts
  src/routes/feedback/+page.svelte
Due: lint-js, prettier

Improve landing page
  src/lib/components/About.svelte
  src/lib/components/landing/AboutUs.svelte
  src/lib/components/landing/FAQ.svelte
  src/lib/components/landing/Features.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/Pricing.svelte
Due: none

Add spinning circles on landing page
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/OrbitingCirclesBanner.svelte
  src/lib/components/landing/orbiting-circles/OrbitingCircles.svelte
  tailwind.config.js
Due: lint-js, prettier

All e2e passing
  src/lib/triplit.ts
Due: lint-js, prettier

Improve orbiting circles
  src/lib/components/landing/OrbitingCirclesBanner.svelte
  src/lib/components/landing/orbiting-circles/OrbitingCircles.svelte
Due: none

Add border beam
  src/lib/components/effects/border-beam/border-beam.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/OrbitingCirclesBanner.svelte
  tailwind.config.js
Due: lint-js, prettier

Improve orbiting circles
  src/lib/components/landing/OrbitingCirclesBanner.svelte
Due: none

Improved landing page!
  src/lib/components/About.svelte
  src/lib/components/effects/animated-shiny-text/AnimatedShinyText.svelte
  src/lib/components/effects/shine-border/ShineBorder.svelte
  src/lib/components/landing/Features.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/Pricing.svelte
  src/lib/components/landing/feature/Feature.svelte
  tailwind.config.js
Due: lint-js, prettier

Improve landing page
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/OrbitingCirclesBanner.svelte
  src/lib/components/landing/Pricing.svelte
Due: none

Fix bg fucked up in light mode
  src/lib/components/About.svelte
Due: none

Minor change to moving circles in hero section
  src/lib/components/landing/orbiting-circles/OrbitingCircles.svelte
Due: none

Minor style changes to landing page
  src/lib/components/About.svelte
  src/lib/components/Header.svelte
Due: none
