Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Correct some ugly things in prod on landing page
  src/lib/components/Footer.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/landing/OrbitingCirclesBanner.svelte
  src/lib/components/landing/Pricing.svelte
  src/routes/(app)/+page.svelte
Due: none

Landing page improvements
  src/lib/components/About.svelte
  src/lib/components/effects/animated-shiny-text/AnimatedShinyText.svelte
  src/lib/components/landing/Features.svelte
Due: none

Add "unpublish" btn and minor refactor for EventForm
  src/lib/components/CustomAlertDialog.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/DeleteEventBtn.svelte
  src/lib/components/eventform/buttons/UnpublishEventBtn.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/update/+page.svelte
  src/routes/(bonfire)/bonfire/create/+page.svelte
Due: lint-js, prettier

Add non-profit details to landing page
  src/lib/components/About.svelte
  src/lib/components/landing/FAQ.svelte
  src/lib/components/landing/Pricing.svelte
Due: none

Cache logos in SW for login
  src/routes/(login)/login/+page.svelte
  src/service-worker/index.js
Due: lint-js, prettier

Most e2e passing (issue with admins) Improve messaging
  e2e/general.spec.ts
  src/lib/components/eventform/EventForm.svelte
Due: lint-js, prettier

Lower animation speed landing page Improve messaging
  src/lib/components/About.svelte
Due: none

Fix admin e2e test
  e2e/general.spec.ts
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
Due: lint-js, prettier

Update charity contribution text
  src/lib/components/About.svelte
Due: none

Update features
  src/lib/components/landing/Features.svelte
Due: none

Update share text
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Don't show out of logs if event is published and user is editing it
  src/lib/components/eventform/EventForm.svelte
Due: none

Issues with triplit schema syncing
  src/lib/triplit.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Seed better data
  e2e/general.spec.ts
  src/scripts/data/banner/mike-bd-banner.jpg
  src/scripts/data/profile-pics/alice.jpg
  src/scripts/data/profile-pics/bob.jpg
  src/scripts/data/profile-pics/charlie.jpg
  src/scripts/data/profile-pics/diana.jpg
  src/scripts/data/profile-pics/edward.jpg
  src/scripts/data/profile-pics/george.jpg
  src/scripts/data/profile-pics/hannah.jpg
  src/scripts/data/profile-pics/ian.jpg
  src/scripts/data/profile-pics/julia.jpg
  src/scripts/data/profile-pics/kevin.jpg
  src/scripts/data/profile-pics/lucy.jpg
  src/scripts/data/profile-pics/michael.jpg
  src/scripts/data/profile-pics/mike.jpg
  src/scripts/data/profile-pics/nina.jpg
  src/scripts/data/profile-pics/oliver.jpg
  src/scripts/seed.ts
Due: lint-js, prettier

Improve seeder
  src/lib/bringlist.ts
  src/scripts/data/profile-pics/fiona.jpeg
  src/scripts/seed.ts
Due: lint-js, prettier

Sort bring list items in correct order (% completion)
  src/lib/components/bringlist/BringList.svelte
Due: none

Add streamed video (not done yet) to landing page
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/components/About.svelte
  src/lib/components/Header.svelte
  src/lib/components/StreamingVideoPlayer.svelte
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/routes/(user)/profile/username/+page.svelte
  src/scripts/data/event-media/elevate-1yvOLKRwQKc-unsplash.jpg
  src/scripts/data/event-media/elevate-PONDXpGVZe8-unsplash.jpg
  src/scripts/data/event-media/elevate-_mKQMHfGjXY-unsplash.jpg
  src/scripts/data/event-media/elevate-s9fI7hdsMwk-unsplash.jpg
  src/scripts/data/event-media/fabio-alves-m5tLEszuNu0-unsplash.jpg
  src/scripts/data/event-media/louis-hansel-N_R0X4H9uD4-unsplash.jpg
Due: prettier

Show video in iphone mock
  src/lib/components/About.svelte
  src/lib/components/Iphone15ProMock.svelte
  src/lib/components/StreamingVideoPlayer.svelte
Due: none

Improve landing page
  src/lib/components/About.svelte
  src/lib/components/Iphone15ProMock.svelte
  src/lib/components/landing/feature/Feature.svelte
Due: none

Add delay before showing install PWA prompt
  src/lib/components/InstallPwaBtn.svelte
Due: none

Minor landing page and app copy updates
  src/lib/components/About.svelte
  src/lib/components/Header.svelte
  src/lib/components/InstallPwaBtn.svelte
  src/lib/components/landing/Hero.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
Due: none

Update marketing material
  src/lib/components/Header.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/main-bonfire-event/SignUpMsg.svelte
  src/lib/components/main-bonfire-event/UnverifiedUserMsg.svelte
  src/lib/components/main-bonfire-event/bonfire.ts
  src/lib/components/marketing/TopBanner.svelte
Due: lint-js, prettier

Fix null issue on bonfire does not exist
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Add some admin graphs
  package.json
  pnpm-lock.yaml
  src/lib/components/admin/stats/AttendeesPerBonfire.svelte
  src/lib/components/admin/stats/CreatedPerDate.svelte
  src/lib/components/nonprofits/NonProfitManager.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/(admin)/admin/stats/+page.svelte
  tailwind.config.js
  triplit/schema.ts
Due: lint-js, prettier

Show attendees per event
  package.json
  pnpm-lock.yaml
  src/lib/components/admin/stats/AttendeesPerBonfire.svelte
Due: prettier

Comment out attendees per event
  src/routes/(admin)/admin/stats/+page.svelte
Due: none

Fix admin graphs
  src/lib/components/admin/stats/AttendeesPerBonfire.svelte
  src/lib/components/admin/stats/CreatedPerDate.svelte
  src/routes/(admin)/admin/stats/+page.svelte
Due: none

Remove unused package
  package.json
  pnpm-lock.yaml
Due: prettier

Improve graphs
  src/lib/components/admin/stats/AttendeesPerBonfire.svelte
  src/lib/components/admin/stats/CreatedPerDate.svelte
Due: none

Use tabs for past/future list on dashboard
  src/routes/(user)/dashboard/+page.svelte
Due: none

Add barebones for event styler in main bonfires (WIP)
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/event-styles/EventStylerBottomSheet.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/routes/(bonfire)/bonfire/[[id]]/update/+page.svelte
Due: none

Minor changes to buttons in EventForm
  src/lib/components/eventform/EventForm.svelte
Due: none

Fix colors for admin graphs
  src/app.css
  tailwind.config.js
Due: lint-js, prettier

Fix e2eui
  e2e/general.spec.ts
  e2e/shared.ts
Due: lint-js, prettier

Add basic tiptap editor
  README.md
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/input/tiptap/OneTimeUseButton.svelte
  src/lib/components/input/tiptap/TipTapTextEditor.svelte
  src/lib/components/ui/toggle-group/index.ts
  src/lib/components/ui/toggle-group/toggle-group-item.svelte
  src/lib/components/ui/toggle-group/toggle-group.svelte
Due: lint-js, prettier

Tiptap is looking good
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/input/tiptap/TipTapTextEditor.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  tailwind.config.js
Due: lint-js, prettier

Tiptap goes to prod, all e2e passing
  e2e/general.spec.ts
  e2e/shared.ts
  src/app.css
  src/lib/components/input/tiptap/TipTapTextEditor.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  tailwind.config.js
Due: lint-js, prettier

Fix dashboard bug and buy bonfire log bug
  src/lib/components/eventform/EventForm.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/profile/logs/buy/+page.svelte
Due: none

Add attendees count to bonfire card in dashboard
  src/lib/components/EventCard.svelte
  src/lib/components/attendance/AttendeesCount.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Fix some bugs
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/MaxCapacity.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
Due: none
