Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Cancel expanding details, not working
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/GuestCountFeature.svelte
  src/lib/components/eventform/buttons/UnpublishEventBtn.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  triplit/schema.ts
Due: lint-js, prettier

Set changeable max number of guests per attendee
  src/lib/components/EventCard.svelte
  src/lib/components/eventform/GuestCountFeature.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/rsvp/PlusOneSelect.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/rsvp/TempAttendeeDialog.svelte
  src/lib/components/rsvp/UpdatePlusOneSelect.svelte
  src/lib/enums.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Update seeder for image dupes not being re-uploaded
  src/app.css
  src/lib/filestorage.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Fix e2e and couple of bugs
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/components/eventform/GuestCountFeature.svelte
  src/routes/(user)/profile/logs/buy/+page.svelte
Due: lint-js, prettier

Minor change to nonprofit card
  src/lib/components/nonprofits/NonProfitCard.svelte
Due: none

minor style updatea
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
Due: none

Minor updates
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/eventform/features/GuestCountFeature.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Style changes to notification card
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
Due: none

Style changes to header
  src/lib/components/Header.svelte
  src/lib/components/Logo.svelte
  src/lib/components/ToggleTheme.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/notifications/NotificationsIndicator.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Minor event styling update
  src/lib/components/main-bonfire-event/EventDetails.svelte
Due: none

Improve admin cards
  src/lib/components/EventAdminEditor.svelte
Due: none

Add animation in eventAdminEditor
  src/lib/components/CollapsibleContent.svelte
  src/lib/components/EventAdminEditor.svelte
Due: none

Fix nil error in prod for anon view due to pwa install btn
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
Due: none

Create SanitizedHtml input
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/text/SanitizedHtml.svelte
Due: none

Revert "Create SanitizedHtml input"
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/text/SanitizedHtml.svelte
Due: none

Show info about profile data being private on profile page
  src/lib/components/Alert.svelte
  src/routes/(user)/profile/+page.svelte
Due: none

Make attendee count derived in Attendees
  src/lib/components/main-bonfire-event/Attendees.svelte
Due: none

Fix empty event details being ugly
  src/lib/components/main-bonfire-event/EventDetails.svelte
Due: none

Add info box to set profile pic for users
  src/lib/components/Alert.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Create SetProfilePicAlert
  src/lib/components/Alert.svelte
  src/lib/components/InstallPwaBtn.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/SetProfilePicAlert.svelte
  src/lib/triplit.ts
  src/routes/(user)/profile/+page.svelte
Due: lint-js, prettier

Fix num attendees on EvenCard
  e2e/general.spec.ts
  src/lib/components/EventCard.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Include guests in EventCard counts
  src/lib/components/EventCard.svelte
Due: none

Update counts in AttendeesDialog
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
Due: none

Update triplit to latest
  package.json
  pnpm-lock.yaml
Due: prettier

Update old triplit logic to latest
  src/lib/components/EventCard.svelte
  src/lib/components/admin/stats/AttendeesPerBonfire.svelte
  src/lib/components/admin/stats/CreatedPerDate.svelte
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/event-styles/EventStylerBottomSheet.svelte
Due: none

WIP
  package.json
  src/lib/components/Loader.svelte
  src/lib/components/notifications/Notifications.svelte
  src/lib/components/notifications/NotificationsIndicator.svelte
  src/lib/filestorage.ts
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Broken
  package.json
  src/lib/components/notifications/NotificationsIndicator.svelte
  src/routes/(user)/dashboard/+page.server.ts
Due: lint-js, prettier

TUrn of syncschema
  pnpm-lock.yaml
  src/lib/triplit.ts
Due: lint-js, prettier

Slowly getting to a working state
  package.json
  pnpm-lock.yaml
  src/lib/components/Annoucements.svelte
  src/lib/components/InstallPwaBtn.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/NumNewMessageIndicator.svelte
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/main-bonfire-event/SetProfilePicAlert.svelte
  src/lib/filestorage.ts
  src/lib/server/triplit.ts
  src/lib/triplit.ts
  src/lib/utils.ts
  src/routes/(user)/dashboard/+page.svelte
  triplit/schema.ts
  vite.config.ts
Due: lint-js, prettier

Fix blurhash nil deref
  src/lib/components/BonfireNoInfoCard.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Don't show "set profile pic" for non-users
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/SignUpMsg.svelte
Due: none

Redirect after setting username
  src/lib/triplit.ts
  src/routes/(user)/profile/username/+page.svelte
Due: lint-js, prettier

Use http client to set as onboarded
  src/routes/(user)/onboarding/+page.svelte
Due: none

Fix num logs left in EventForm
  src/lib/components/AnnouncementForm.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/server/database/user.model.ts
Due: lint-js, prettier

Use http to delete announcement
  src/lib/components/AnnouncementForm.svelte
  src/routes/(bonfire)/bonfire/[[id]]/announcement/[[announcement_id]]/update/+page.svelte
Due: none

Replace scrollToBottom with scrollElementIntoView for messenger tab
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Fix tempAttendeeView e2e
  e2e/general.spec.ts
  src/lib/components/ProfileAvatar.svelte
Due: lint-js, prettier

Fix Bring List Items e2e
  e2e/general.spec.ts
Due: lint-js, prettier

Fix drizzle queries incorrectly using triplit syntax
  src/routes/(user)/settings/+page.server.ts
  src/routes/(user)/settings/account_deletion/+server.ts
  src/routes/(user)/settings/push/toggle-permission/+server.ts
  src/routes/(user)/settings/push/unsubscribe/+server.ts
Due: lint-js, prettier

Minor style change for event info
  src/lib/components/main-bonfire-event/EventDetails.svelte
Due: none
