Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Back to e2e passing
  e2e/shared.ts
  src/lib/components/EventCard.svelte
  src/routes/(login)/login/+page.svelte
Due: lint-js, prettier

Improve likert scale
  src/lib/components/LikertScaleButton.svelte
Due: none

Update gender
  src/lib/components/landing/Hero.svelte
  src/lib/components/meet/MeetSettingsCard.svelte
  src/routes/meet/questionnaire/+page.svelte
Due: none

Update style of eventcard
  src/lib/components/EventCard.svelte
Due: none

Update copy on hero
  src/lib/components/landing/Hero.svelte
Due: none

Update copy
  src/lib/components/landing/Hero.svelte
  src/lib/styles.ts
Due: lint-js, prettier

Show only int for bring list progress
  src/lib/components/bringlist/items/SharedBringListItem.svelte
Due: none

Delete bring item without http
  src/lib/components/bringlist/CrudItem.svelte
Due: none

Fix colors in meet and remove top transparent bar on ios
  src/routes/+layout.svelte
  src/routes/meet/intro/+page.svelte
  src/routes/meet/questionnaire/+page.svelte
  src/routes/meet/welcome/+page.svelte
Due: none

Minor change to landing page cards
  src/lib/components/landing/EventCards.svelte
Due: none

Fix details overflowing box
  src/lib/components/input/TextAreaAutoGrow.svelte
  src/lib/components/main-bonfire-event/EventDetails.svelte
  src/lib/components/main-bonfire-event/info/UpdateableEventField.svelte
Due: none

Correctly set isLoading for bringlist
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/input/TextAreaAutoGrow.svelte
Due: none

Slight improvements on isLoading booleans
  src/lib/components/BackButton.svelte
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/settings/PermissionsPausedMsg.svelte
  src/routes/(bonfire)/bonfire/[[id]]/invite/+page.svelte
Due: none

Add blog
  src/lib/components/About.svelte
  src/lib/components/Header.svelte
  src/lib/components/landing/Features.svelte
  src/lib/types.ts
Due: lint-js, prettier

Add text to header titles
  src/lib/components/Header.svelte
  src/lib/types.ts
Due: lint-js, prettier

Remove blog from auth menu
  src/lib/components/Header.svelte
Due: none

feat: add toggle to switch attendees view between grid and vertical list with names
  src/lib/components/AttendeesDialog.svelte
Due: none

Show AttendeesDialog in grid/list view
  .gitignore
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
Due: none

feat: add fuzzy search by username across all tabs in AttendeesDialog
  src/lib/components/AttendeesDialog.svelte
Due: none

Default to list view
  src/lib/components/AttendeesDialog.svelte
Due: none

Set list as default in ProfileDialog Revert "feat: add fuzzy search by username across all tabs in AttendeesDialog"
  src/lib/components/AttendeesDialog.svelte
Due: none

Add some logs in google oath to figure out issue
  src/routes/(login)/login/google/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
Due: lint-js, prettier

Fix oauth with google
  src/routes/(login)/login/google/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
Due: lint-js, prettier

Add CLAUDE.md for AI-assisted development guidance
  CLAUDE.md
Due: prettier

Login by phone working
  CLAUDE.md
  drizzle/0012_grey_daredevil.sql
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/server/database/schema.ts
  src/lib/server/database/user.model.ts
  src/lib/server/email/notification-email.html
  src/lib/sms.ts
  src/routes/(login)/login/+page.server.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/login/otp-verification/+server.ts
Due: lint-js, prettier

Add "add phone" to settings if phone is missing
  src/lib/components/settings/PhoneNumber.svelte
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
Due: none

Add logic to update phone number
  src/lib/components/meet/SetupMeet.svelte
  src/lib/components/settings/PhoneNumber.svelte
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
  src/lib/enums.ts
  src/lib/server/database/user.model.ts
Due: lint-js, prettier

Order past events in descending order
  src/routes/(user)/dashboard/+page.svelte
Due: none

Try to fix profile avatar issues not showing image, untested in prod
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/profilestore.ts
Due: lint-js, prettier

Pass eventID and rsvp status to login page if unauthed
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/routes/(login)/login/+page.server.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/login/otp-verification/+server.ts
Due: lint-js, prettier

Event joined after loggin in
  src/routes/(login)/login/+page.server.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/login/google/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
  src/routes/(login)/login/otp-verification/+server.ts
Due: lint-js, prettier

Turn of temp attendee tests
  e2e/general.spec.ts
Due: lint-js, prettier

Basic clone working for event!
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/CloneEventButton.svelte
  src/routes/(bonfire)/bonfire/[[id]]/clone/+server.ts
Due: lint-js, prettier

Minor changes
  e2e/shared.ts
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/main-bonfire-event/CloneEventButton.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/components/settings/PhoneNumber.svelte
  src/lib/profilestore.ts
Due: lint-js, prettier

Invite users to event when cloned with attendees
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/server/notifications/notification_engine.ts
  src/lib/server/notifications/notifications.ts
  src/routes/(bonfire)/bonfire/[[id]]/clone/+server.ts
  src/routes/(login)/login/+page.server.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/login/google/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
  src/routes/(login)/login/otp-verification/+server.ts
Due: lint-js, prettier

Add UI support for invited attendees in event cloning
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/attendance/AnonAttendeesView.svelte
  src/lib/components/attendance/AttendeesCount.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/rsvp.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/clone/+server.ts
Due: lint-js, prettier

Implement organization/entity system for events
  src/lib/components/eventform/EventForm.svelte
  src/lib/organizations.ts
  triplit/schema.ts
Due: lint-js, prettier

Add organization management system
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/organizations.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/organizations/+page.server.ts
  src/routes/(user)/organizations/+page.svelte
  src/routes/(user)/organizations/create/+page.svelte
  src/routes/org/[id]/+page.server.ts
  src/routes/org/[id]/+page.svelte
Due: lint-js, prettier

Add dashboard organizations link and organization modal for event updates
  src/lib/components/eventform/EventForm.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none
