Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

All e2e tests passing
  e2e/general.spec.ts
  e2e/shared.ts
Due: lint-js, prettier

Admin test running but not done All e2e tests running
  e2e/general.spec.ts
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/EventForm.svelte
  src/lib/filestorage.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/update/+page.svelte
Due: lint-js, prettier

Admins can do admin stuff in e2e test
  e2e/general.spec.ts
Due: lint-js, prettier

All e2e passing!
  e2e/general.spec.ts
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/EventForm.svelte
  src/routes/(bonfire)/bonfire/[[id]]/update/+page.server.ts
  triplit/schema.ts
Due: lint-js, prettier

Update lefthook to forbid pushing on main
  lefthook.yml
Due: none

Update lefthook to forbid pushing on main
  e2e/general.spec.ts
  e2e/shared.ts
  lefthook.yml
Due: lint-js, prettier

Update lefthook to forbid pushing on main
  e2e/general.spec.ts
  e2e/shared.ts
Due: lint-js, prettier

Only allow event creator to delete the event
  src/lib/components/EventForm.svelte
Due: none

Update "create" bonfire button
  src/routes/(user)/dashboard/+page.svelte
Due: none

Update SW fetch to cache s3 files in indexdb
  src/service-worker/index.js
Due: lint-js, prettier

WIP
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/[[fileId]]/mark-done/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Update mobile header icons size
  src/lib/components/Header.svelte
  src/lib/components/notifications/NotificationsIndicator.svelte
Due: none

WIP, but not continuing for now
  package.json
  pnpm-lock.yaml
  src/lib/gallery.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/[[fileId]]/mark-done/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/presign/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Make streamable mp4
  src/lib/filestorage.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+server.ts
Due: lint-js, prettier

Correctly show videos in MiniGallery
  src/lib/filestorage.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/mini-gallery/+server.ts
Due: lint-js, prettier

Improve look of gallery items
  src/lib/components/GalleryItem.svelte
  src/lib/components/MiniGallery.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Center videos vertically
  src/lib/components/MiniGallery.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Style selection correctly, though it's not quite functional
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Resize all vid/images to have same size in gallery preview
  src/lib/components/GalleryItem.svelte
Due: none

Select/deselect individual files
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Improve toggle style in gallery for visibility
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Behavior for selection seeeeems to be ok
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Correct "loading" message while downloading/deleting
  src/lib/components/LoaderPage.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Show upload progress by byte uploaded
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Blurhashes showing!!!
  src/lib/components/GalleryItem.svelte
Due: none

Set default bg when creating event
  README.md
  src/lib/components/EventForm.svelte
Due: prettier

Improve handleSubmit for EventForm, and correctly set default BG in form
  src/lib/components/EventForm.svelte
Due: none

Set random bg on bonfire creation page All e2e passing
  src/lib/components/EventForm.svelte
  src/lib/components/EventStyler.svelte
  src/lib/styles.ts
Due: lint-js, prettier

Center banner in bonfire page
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Add working blurhash to bonfire banner
  src/lib/components/BonfireBanner.svelte
Due: none

Increase request size for videos
  src/hooks.server.ts
Due: lint-js, prettier

Write video file to disk and stream to s3
  src/lib/filestorage.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+server.ts
Due: lint-js, prettier

Improve error handling when creating bonfire
  src/lib/components/EventForm.svelte
Due: none

Use busboy to stream for adding files
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+server.ts
Due: lint-js, prettier

Tus upload is working, but no custom logic running yet
  package.json
  pnpm-lock.yaml
  src/hooks.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+server.ts
  src/routes/api/tus/files/[[id]]/+server.ts
  svelte.config.js
  uploads/f5ab8083f4ce6f6762a9f131d017144f
  uploads/f5ab8083f4ce6f6762a9f131d017144f.json
Due: lint-js, prettier

Upload still working for TUS
  src/hooks.server.ts
  src/lib/filestorage.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  uploads/f5ab8083f4ce6f6762a9f131d017144f
  uploads/f5ab8083f4ce6f6762a9f131d017144f.json
Due: lint-js, prettier

POST_FINISH event for tusServer working, though internal logic dies
  src/hooks.server.ts
  uploads/21a21b4c4341f5bc9600df5d8da87443
  uploads/21a21b4c4341f5bc9600df5d8da87443.json
  uploads/39db29a255463af4520a765ef237e4e4
  uploads/39db29a255463af4520a765ef237e4e4.json
  uploads/4089958ca0f2e0cdaabfe95305ab9a22
  uploads/4089958ca0f2e0cdaabfe95305ab9a22.json
  uploads/5ec2c270d1be69eb37200dda6c42528f
  uploads/5ec2c270d1be69eb37200dda6c42528f.json
Due: lint-js, prettier

Just failing in processGalleryFile now, an error I can handle!
  src/hooks.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  uploads/11ce907a19f6d0e2af6fb4ffd2a18305
  uploads/11ce907a19f6d0e2af6fb4ffd2a18305.json
  uploads/21a21b4c4341f5bc9600df5d8da87443.json
  uploads/39db29a255463af4520a765ef237e4e4.json
  uploads/4089958ca0f2e0cdaabfe95305ab9a22.json
  uploads/4abb1f5fe06dd620a517d920c4d10fb0
  uploads/4abb1f5fe06dd620a517d920c4d10fb0.json
  uploads/4c797cddfb7758a47104230d755d5980
  uploads/4c797cddfb7758a47104230d755d5980.json
  uploads/559f27262cd46025c45f52c72c3e03ea
  uploads/559f27262cd46025c45f52c72c3e03ea.json
  uploads/5ec2c270d1be69eb37200dda6c42528f.json
  uploads/67115264c6a2f315770061443d1d74cd
  uploads/67115264c6a2f315770061443d1d74cd.json
  uploads/6d2ebab0c9c329e9dede0ba87417d4c4
  uploads/6d2ebab0c9c329e9dede0ba87417d4c4.json
  uploads/8ebbfc84aa77d855162a1d239ca43ab2
  uploads/8ebbfc84aa77d855162a1d239ca43ab2.json
  uploads/a223e10f739907ab5e56ddcb576b8239
  uploads/a223e10f739907ab5e56ddcb576b8239.json
  uploads/a2bcf0c4035210017152ad9f80d703eb
  uploads/a2bcf0c4035210017152ad9f80d703eb.json
  uploads/b8200efb644f49ab1568bf0de9549d1e
  uploads/b8200efb644f49ab1568bf0de9549d1e.json
  uploads/bb492d187611803a5665a4c9c78df58c
  uploads/bb492d187611803a5665a4c9c78df58c.json
  uploads/c1bd59a29bfe92641fc30f64643fd0d5
  uploads/c1bd59a29bfe92641fc30f64643fd0d5.json
  uploads/c8b7beabe7e856b7eee258042c2d65de
  uploads/c8b7beabe7e856b7eee258042c2d65de.json
  uploads/cc49079a9b3487e67496da27de0452db
  uploads/cc49079a9b3487e67496da27de0452db.json
  uploads/f7ee4aed41bd25dd1edb3b5b86f51f3f
  uploads/f7ee4aed41bd25dd1edb3b5b86f51f3f.json
Due: lint-js, prettier

Video/images uploaded through TUS!
  src/hooks.server.ts
  src/lib/filestorage.ts
  uploads/11ce907a19f6d0e2af6fb4ffd2a18305
  uploads/11ce907a19f6d0e2af6fb4ffd2a18305.json
  uploads/4abb1f5fe06dd620a517d920c4d10fb0
  uploads/4abb1f5fe06dd620a517d920c4d10fb0.json
  uploads/4c797cddfb7758a47104230d755d5980
  uploads/4c797cddfb7758a47104230d755d5980.json
  uploads/559f27262cd46025c45f52c72c3e03ea
  uploads/559f27262cd46025c45f52c72c3e03ea.json
  uploads/67115264c6a2f315770061443d1d74cd
  uploads/67115264c6a2f315770061443d1d74cd.json
  uploads/6d2ebab0c9c329e9dede0ba87417d4c4
  uploads/6d2ebab0c9c329e9dede0ba87417d4c4.json
  uploads/8ebbfc84aa77d855162a1d239ca43ab2
  uploads/8ebbfc84aa77d855162a1d239ca43ab2.json
  uploads/a223e10f739907ab5e56ddcb576b8239
  uploads/a223e10f739907ab5e56ddcb576b8239.json
  uploads/a2bcf0c4035210017152ad9f80d703eb
  uploads/a2bcf0c4035210017152ad9f80d703eb.json
  uploads/b8200efb644f49ab1568bf0de9549d1e
  uploads/b8200efb644f49ab1568bf0de9549d1e.json
  uploads/bb492d187611803a5665a4c9c78df58c
  uploads/bb492d187611803a5665a4c9c78df58c.json
  uploads/c1bd59a29bfe92641fc30f64643fd0d5
  uploads/c1bd59a29bfe92641fc30f64643fd0d5.json
  uploads/c8b7beabe7e856b7eee258042c2d65de
  uploads/c8b7beabe7e856b7eee258042c2d65de.json
  uploads/cc49079a9b3487e67496da27de0452db
  uploads/cc49079a9b3487e67496da27de0452db.json
  uploads/f7ee4aed41bd25dd1edb3b5b86f51f3f
  uploads/f7ee4aed41bd25dd1edb3b5b86f51f3f.json
Due: lint-js, prettier

Clean up files in processGalleryFile
  src/lib/filestorage.ts
Due: lint-js, prettier

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
