Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Minor improvements to non profits
  src/lib/components/nonprofits/NonProfitManager.svelte
  src/lib/components/payments/SelectNonProfitAlert.svelte
  src/routes/(user)/profile/logs/buy/+page.svelte
  src/routes/(user)/profile/non-profits/+page.svelte
Due: none

Add stripe prices to deploy
  config/deploy.prod.yml
  config/deploy.staging.yml
Due: none

Only log stripe event in dev
  src/routes/stripe/webhook/+server.ts
Due: lint-js, prettier

Show loader when going to stripe
  src/lib/components/LoadingSpinner.svelte
  src/lib/components/profile/LogPackage.svelte
Due: none

Adjust fade in
  src/lib/components/EventCard.svelte
  src/lib/components/containers/FadeIn.svelte
  src/lib/components/payments/OutOfLogs.svelte
  src/lib/components/payments/SelectNonProfitAlert.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Update bonfire card style
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Improve bonfire card styling
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Make RSVP buttons a little narrower on large screens
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Update color of bring list slider
  src/lib/components/bringlist/items/BringListItem.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Minor event card style change
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Improve color for bring list item progress
  src/lib/components/bringlist/items/BringListItem.svelte
Due: none

Improve icons and minimize stuff on bonfire page
  src/lib/components/MiniGallery.svelte
  src/lib/components/bringlist/BringList.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Fix messaging bugs
  src/lib/components/im/Message.svelte
  src/lib/components/im/MessageContextMenu.svelte
  src/lib/utils.ts
Due: lint-js, prettier

Make emojis grow smoothly in messaging
  src/lib/components/im/Message.svelte
  src/lib/utils.ts
Due: lint-js, prettier

Fix a bug in admin perms, all e2e passing
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/components/AnnouncementForm.svelte
  triplit/schema.ts
Due: lint-js, prettier

Update /clear to remove schema
  src/lib/triplit.ts
  src/routes/clear/+page.svelte
Due: lint-js, prettier

Update minor UI issues
  src/lib/components/attendance/MaxCapacityInfo.svelte
  src/lib/components/bringlist/BringList.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Try to reset triplit if SCHEMA_MISMATCH occurs in fe
  src/lib/triplit.ts
  src/routes/(user)/profile/non-profits/+page.svelte
  src/routes/clear/+page.svelte
Due: lint-js, prettier

Force reload app if SW changes
  src/lib/triplit.ts
  src/routes/+layout.svelte
  src/service-worker/index.js
Due: lint-js, prettier

Use http client in admin centre
  src/lib/components/nonprofits/NonProfitManager.svelte
Due: none

Update NonProfit card
  src/lib/components/nonprofits/NonProfitCard.svelte
  src/lib/components/nonprofits/NonProfitManager.svelte
Due: none

Add check in ProfileAvatar to only update pic if it changed
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/nonprofits/NonProfitManager.svelte
Due: none

Assume event is published by default in bonfire view
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Redirect to unpublished page if necessary
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/not-yet-published/+page.svelte
Due: lint-js, prettier

Update is_published state in UI
  src/lib/components/EventForm.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Minor style change for bonfire view
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

All e2e passing
  src/routes/(user)/profile/non-profits/+page.svelte
Due: none

Fix back button not working on history.back()
  src/lib/components/BackButton.svelte
Due: none

Add onboarding flow
  e2e/shared.ts
  src/lib/components/EventStyler.svelte
  src/routes/(user)/onboarding/+page.svelte
  src/routes/(user)/profile/username/+page.svelte
  static/bonfire/Bonfire_logo_hor_color_cropped.png
  triplit/schema.ts
Due: lint-js, prettier

Force sync schema in worker client
  src/lib/triplit.ts
Due: lint-js, prettier

E2e not passing, prod broken, schemas out of sync, fuck this
  src/lib/components/EventForm.svelte
  src/lib/triplit.ts
  triplit/schema.ts
Due: lint-js, prettier

Temporarily increase playwright timeouts until triplit 1.0 release and use
  playwright.config.ts
Due: lint-js, prettier

Move "not published" btn for bonfire view
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Add map selector
  package.json
  pnpm-lock.yaml
  src/lib/components/EventForm.svelte
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/input/location/LocationInput.svelte
  src/lib/components/input/location/MapMarkerInput.svelte
Due: prettier

Add deployments for mapbox
  config/deploy.prod.yml
  config/deploy.staging.yml
  src/lib/components/input/location/MapMarkerInput.svelte
Due: none

Revert "Add deployments for mapbox"
  config/deploy.prod.yml
  config/deploy.staging.yml
  src/lib/components/input/location/MapMarkerInput.svelte
Due: none

Add stadia maps
  config/deploy.prod.yml
  config/deploy.staging.yml
  src/lib/components/input/location/MapMarkerInput.svelte
Due: none

Add map settings
  config/deploy.prod.yml
  config/deploy.staging.yml
  package.json
  pnpm-lock.yaml
  src/lib/components/EventForm.svelte
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/input/location/LocationInput.svelte
  src/lib/components/input/location/MapMarkerInput.svelte
  src/lib/components/map/Map.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Fix deleting attendees
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/eventform/MaxCapacity.svelte
  src/lib/profilestore.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Show animation when removing ProfileAvatar from list
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/ProfileAvatar.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none
