Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Minor updates to settings components
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/routes/(user)/settings/+page.svelte
Due: none

Update triplit
  package.json
  pnpm-lock.yaml
Due: prettier

All e2e passing
  e2e/general.spec.ts
Due: lint-js, prettier

Add warning to Email and SMS notif togglers
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/scheduler.ts
  src/lib/server/notifications.ts
  src/lib/sms.ts
  src/lib/webpush.ts
  triplit/schema.ts
Due: lint-js, prettier

Moving files around and minor changes
  src/lib/components/AnnouncementForm.svelte
  src/lib/components/EventAdminEditor.svelte
  src/lib/filestorage.ts
  src/lib/im.ts
  src/lib/notification_queue.ts
  src/lib/rsvp.ts
  src/routes/(bonfire)/bonfire/[[id]]/admins/notify/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/update-rsvp/+server.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Generate better id for events
  src/lib/components/eventform/EventForm.svelte
Due: none

Show users who saw/did not see announcement
  src/lib/components/announcements/Annoucements.svelte
  src/lib/components/announcements/Announcement.svelte
  src/lib/components/announcements/AnnouncementForm.svelte
  src/lib/components/announcements/AnnouncementHistory.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
  src/routes/(bonfire)/bonfire/[[id]]/announcement/[[announcement_id]]/update/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/announcement/create/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Remove unused logs
  src/lib/components/announcements/AnnouncementHistory.svelte
  src/lib/tus.ts
  src/routes/(bonfire)/bonfire/[[id]]/update/+page.server.ts
Due: lint-js, prettier

Set default font, and show fonts for event styles
  package.json
  pnpm-lock.yaml
  src/lib/components/announcements/AnnouncementForm.svelte
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/event-styles/Fonts.svelte
  src/lib/enums.ts
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
  src/routes/+layout.svelte
  triplit/schema.ts
Due: lint-js, prettier

Let user select font
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/event-styles/Fonts.svelte
  src/lib/components/event-styles/FontsDialog.svelte
  src/lib/types.ts
Due: lint-js, prettier

Correctly set font in EventForm
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/event-styles/FontsDialog.svelte
Due: none

Save font to DB (fail to show in event though)
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
Due: none

User can now set event font
  src/lib/components/eventform/EventForm.svelte
  src/lib/styles.ts
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
Due: lint-js, prettier

Show title with proper font on eventCard
  src/lib/components/EventCard.svelte
Due: none

Fix minor styles issues due to fonts
  src/lib/components/event-styles/Fonts.svelte
  src/lib/components/event-styles/FontsDialog.svelte
  src/lib/components/input/location/LocationInput.svelte
  src/lib/components/input/location/MapMarkerInput.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Minor style updates
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/event-styles/FontsDialog.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/DeleteEventBtn.svelte
  src/lib/components/eventform/buttons/UnpublishEventBtn.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Minor style improvements
  src/lib/components/announcements/Announcement.svelte
  src/lib/components/attendance/MaxCapacityInfo.svelte
  src/lib/components/bringlist/items/BringListItem.svelte
  src/lib/components/im/ImInput.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/EventHistory.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Create dummy eventSettings
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/components/settings/event-settings/EventSettings.svelte
Due: none

Work on permissions and update feedback page
  src/lib/components/EventDoesNotExist.svelte
  src/lib/components/landing/AboutUs.svelte
  src/lib/components/landing/Pricing.svelte
  src/lib/components/main-bonfire-event/EventHistory.svelte
  src/lib/components/marketing/TopBanner.svelte
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/components/settings/event-settings/EventSettings.svelte
  src/lib/permissions.ts
  src/routes/feedback/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Allow setting general and event delivery permissions
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/permissions.ts
  src/lib/types.ts
Due: lint-js, prettier

Select random font when creating bonfire
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/UnpublishEventBtn.svelte
  src/lib/enums.ts
  src/lib/styles.ts
Due: lint-js, prettier

Update eventForm style
  src/lib/components/AmPmPicker.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/input/location/MapMarkerInput.svelte
Due: none

Allow searching fonts
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/event-styles/Fonts.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/enums.ts
  src/lib/styles.ts
Due: lint-js, prettier

Update event form
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/DeleteEventBtn.svelte
Due: none

Separate NotificationTypes for event vs global
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
  src/lib/permissions.ts
  src/routes/(user)/profile/+page.svelte
Due: lint-js, prettier

Fix spacing in eventform buttons
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/DeleteEventBtn.svelte
  src/lib/components/eventform/buttons/UnpublishEventBtn.svelte
Due: none

Buttons improved in eventForm?
  src/lib/components/eventform/EventForm.svelte
Due: none

Add tasks for reminders (not hooked up)
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/enums.ts
  src/lib/scheduler.ts
  src/lib/server/notifications.ts
  triplit/schema.ts
Due: lint-js, prettier

Create tabs in EventForm
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
Due: none

Live save event style changes
  src/lib/components/AddToCalendar.svelte
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
Due: none

Minor cleanup of copy
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/GuestCountFeature.svelte
  src/lib/components/eventform/features/GuestCountFeature.svelte
  src/lib/components/eventform/reminders/EventReminders.svelte
Due: none

Add some cleanup logic to eventstyler applyStyle
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
Due: none

Automatically save styles
  src/lib/components/admin/StyleSettings.svelte
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
Due: none

Add warning to no notification and delivery permission set
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/event-settings/EventSettings.svelte
  src/lib/permissions.ts
Due: lint-js, prettier

Change design of EventForm top menu
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/reminders/EventReminders.svelte
Due: none

Create reminders either in FE or BE
  src/lib/components/eventform/EventForm.svelte
  src/lib/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  triplit/schema.ts
Due: lint-js, prettier

Show reminders in event settings
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  triplit/schema.ts
Due: lint-js, prettier

Create basic Reminder component
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/eventform/reminders/Reminder.svelte
Due: none

Update reminder still broken
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/eventform/reminders/Reminder.svelte
  src/lib/components/eventform/reminders/SelectedTargetStatus.svelte
Due: none

Nice UI for reminders, nearly complete
  src/lib/components/Datepicker.svelte
  src/lib/components/Header.svelte
  src/lib/components/TextAreaAutoGrow.svelte
  src/lib/components/bringlist/CrudItem.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/eventform/reminders/Reminder.svelte
  src/lib/components/eventform/reminders/SelectedTargetStatus.svelte
  src/lib/components/input/TextAreaAutoGrow.svelte
  src/lib/enums.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(user)/profile/logs/spend/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
