Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Fix null on preview.URL
  src/lib/components/GalleryItem.svelte
  svelte.config.js
Due: lint-js, prettier

Remove tus-node-server in favor for @tus/server
  .dockerignore
  Dockerfile
  Makefile
  package.json
  pnpm-lock.yaml
  src/hooks.server.ts
Due: lint-js, prettier

Removed unused deps
  package.json
  pnpm-lock.yaml
Due: prettier

Remove seemingly unused pnpm packages
  package.json
  pnpm-lock.yaml
  src/lib/ai.ts
  src/routes/(bonfire)/bonfire/[[id]]/banner/upload/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(user)/profile/upload-profile-image/+page.svelte
Due: lint-js, prettier

Try new dockerimage
  Dockerfile
  pnpm-lock.yaml
Due: none

Separate download/delete buttons for clarity
  Dockerfile
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Allow admins to delete any file in event
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Allow event creators to delete any uploaded media
  triplit/schema.ts
Due: lint-js, prettier

Allow event admins to delete files from bonfire
  src/routes/(bonfire)/bonfire/[[id]]/media/delete/+server.ts
Due: lint-js, prettier

Force reinstall latest PWA version
  src/routes/(bonfire)/bonfire/[[id]]/media/delete/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  src/routes/+layout.svelte
  src/service-worker/index.js
  svelte.config.js
Due: lint-js, prettier

Prevent zooming on mobile app
  src/routes/+layout.svelte
Due: none

Add created_at fields to all triplit schemas
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  src/service-worker/index.js
  triplit/schema.ts
Due: lint-js, prettier

Set icon size in gallery to fit better for small screens
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Cant use hash for version name because git isnt available in image
  svelte.config.js
Due: lint-js, prettier

Correctly show new uploaded videos by refreshing poster
  src/lib/components/GalleryItem.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  src/routes/+layout.svelte
Due: none

Fix waitForUserId timeout for temp users and triplit schema perm error
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Allow temp users to upload files to tus endpoint
  src/hooks.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
Due: lint-js, prettier

Allow admin to delete ANY files in bonfire
  src/routes/(bonfire)/bonfire/[[id]]/media/delete/+server.ts
Due: lint-js, prettier

Try to move header down on ios
  src/routes/+layout.svelte
Due: none

Add safe area for top bar on ios
  src/lib/components/Header.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

Fix safearea?
  src/lib/components/Header.svelte
  src/routes/+layout.svelte
Due: none

PWA screen messed up for safearea
  src/routes/+layout.svelte
Due: none

Add pull to refresh for mobile
  src/lib/components/PullToRefresh.svelte
  src/routes/+layout.svelte
Due: none

Remove safearea container
  src/routes/+layout.svelte
Due: none

Add button to reset data
  src/lib/components/settings/DeleteAccount.svelte
  src/lib/components/settings/ResetLocalData.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/settings/+page.svelte
  src/routes/apia/tus/files/+server.ts
  src/routes/clear/+page.svelte
Due: lint-js, prettier

Add kamal hooks
  .gitignore
  .kamal/hooks/docker-setup.sample
  .kamal/hooks/post-deploy.sample
  .kamal/hooks/post-proxy-reboot.sample
  .kamal/hooks/pre-build
  .kamal/hooks/pre-build.sample
  .kamal/hooks/pre-connect.sample
  .kamal/hooks/pre-deploy.sample
  .kamal/hooks/pre-proxy-reboot.sample
Due: none

Update admin permissions copy
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/EventForm.svelte
Due: none

SImplify handleNotification
  src/lib/server/push.ts
Due: lint-js, prettier

Notify new admins added
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
  src/lib/enums.ts
  src/lib/notification.ts
  src/lib/server/push.ts
  src/lib/server/triplit.ts
  src/routes/(bonfire)/bonfire/[[id]]/admins/notify/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Add emojis to notifications
  src/lib/server/push.ts
Due: lint-js, prettier

All e2e passing
  .kamal/hooks/pre-build
  e2e/general.spec.ts
  src/routes/+layout.svelte
Due: lint-js, prettier

Show "edit admins" to admins but disable if they cant have access
  src/lib/components/EventForm.svelte
Due: none

Add darkmode (not quite there yet)
  package.json
  pnpm-lock.yaml
  src/lib/components/Header.svelte
  src/lib/components/ToggleTheme.svelte
  src/lib/components/notifications/NotificationsIndicator.svelte
  src/routes/+layout.svelte
Due: prettier

Add dark mode to RSVP
  src/app.html
  src/lib/components/EventCard.svelte
  src/lib/components/Rsvp.svelte
Due: none

Add darkmode to uppy
  src/lib/components/AmPmPicker.svelte
  src/lib/components/Annoucements.svelte
  src/lib/components/Announcement.svelte
  src/lib/components/Datepicker.svelte
  src/lib/components/DoubleDigitsPicker.svelte
  src/lib/components/EventForm.svelte
  src/lib/components/LocationInput.svelte
  src/lib/components/MiniGallery.svelte
  src/lib/components/TimezonePicker.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
Due: none

More darktheme stuff
  src/app.html
  src/lib/components/EventAdminEditor.svelte
  src/lib/components/EventCard.svelte
  src/lib/components/EventForm.svelte
  src/lib/components/EventStyler.svelte
  src/lib/components/Header.svelte
  src/lib/components/ToggleTheme.svelte
  src/lib/components/settings/ResetLocalData.svelte
  src/routes/(admin)/admin/+page.svelte
Due: none

Some more styling changes, but event creation is failing weirdly
  e2e/general.spec.ts
  e2e/shared.ts
  src/app.html
  src/lib/components/BonfireNoInfoCard.svelte
  src/lib/components/CenterScreenMessage.svelte
Due: lint-js, prettier

Restyle header
  src/lib/components/Header.svelte
Due: none

Add triplit connection status to logs
  src/lib/components/EventForm.svelte
  src/lib/components/FeatureCarousel.svelte
  src/lib/utils.ts
  src/routes/(login)/login/+page.svelte
  src/routes/+layout.svelte
Due: lint-js, prettier

Continue some dark theming
  src/lib/components/EventForm.svelte
  src/lib/triplit.ts
  src/lib/utils.ts
  src/routes/(bonfire)/bonfire/[[id]]/banner/upload/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/routes/(user)/profile/upload-profile-image/+page.svelte
Due: lint-js, prettier

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
