Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    run-e2e-tests:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          make e2e
        else
          echo "Skipping e2e tests as branch is not main."
        fi
    lint-js:
      run: yarn eslint {staged_files}
      glob: "*.{js,ts}"
    prettier:
      run: yarn prettier --write {staged_files}
      glob: "*.{js,ts,json,css,md}"
      
      
# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Fix google login
  .vscode/extensions.json
  e2e/general.spec.ts
  src/routes/(app)/+page.server.ts
  src/routes/(login)/login/google/callback/+server.ts
Due: lint-js, prettier

Correct bg issue for bonfire
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
Due: none

Fix edit btn of BonfireBanner
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
Due: none

E2e passing, corrected minor bugs and improved code reusability
  e2e/general.spec.ts
  src/lib/components/EventCard.svelte
  src/lib/components/announcements/AnnouncementForm.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/rsvp/Rsvp.svelte
  src/routes/(app)/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Improve landing page with carousel
  package.json
  pnpm-lock.yaml
  src/lib/components/EventCard.svelte
  src/lib/components/Header.svelte
  src/lib/components/landing/EventCards.svelte
  src/lib/components/landing/Hero.svelte
  src/routes/(app)/+page.server.ts
  src/routes/(app)/+page.svelte
  src/routes/(app)/old.page.server.ts
Due: lint-js, prettier

Improve carousel for event cards
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/components/EventCard.svelte
  src/lib/components/landing/EventCards.svelte
  src/lib/components/landing/Hero.svelte
  src/lib/components/ui/carousel/carousel-content.svelte
  src/lib/components/ui/carousel/carousel-item.svelte
  src/lib/components/ui/carousel/carousel-next.svelte
  src/lib/components/ui/carousel/carousel-previous.svelte
  src/lib/components/ui/carousel/carousel.svelte
  src/lib/components/ui/carousel/context.ts
  src/lib/components/ui/carousel/index.ts
Due: lint-js, prettier

Make 2 cols for >lg on bonfire view
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Hide signup msg with free logs
  src/lib/components/attendance/MaxCapacityInfo.svelte
  src/lib/components/main-bonfire-event/SignUpMsg.svelte
Due: none

Update seeder
  package.json
  pnpm-lock.yaml
  src/lib/server/scheduler.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(user)/dashboard/+page.svelte
  src/scripts/seed.ts
Due: lint-js, prettier

Fix some issue for large attendances
  package.json
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/BetaDevAlert.svelte
  src/lib/components/attendance/AnonAttendeesView.svelte
  src/lib/components/attendance/AttendeesCount.svelte
  src/lib/components/attendance/MaxCapacityInfo.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/rsvp.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Improve attendeesDialog efficiency
  package.json
  pnpm-lock.yaml
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/main-bonfire-event/Attendees.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: prettier

Only show ProfileAvatar when in screen
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
Due: none

Add margin to observer of ProfileAvatar
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/scripts/seed.ts
Due: lint-js, prettier

Update seeder for more messages
  src/scripts/seed.ts
Due: lint-js, prettier

Improve messaging loader
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/Message.svelte
  src/lib/components/im/infiniteLoader/InfiniteLoader.svelte
  src/lib/components/im/infiniteLoader/loaderState.svelte.ts
Due: lint-js, prettier

Broke prod, cors not working for public bonfire s3?
  package.json
  pnpm-lock.yaml
  src/lib/components/im/ImThreadView.svelte
  src/service-worker/index.js
Due: lint-js, prettier

Fix map resizing on mobile
  src/lib/components/map/Map.svelte
Due: none

Fix counts on see more in AttendeesDialog
  src/lib/components/AttendeesDialog.svelte
  src/lib/components/attendance/AttendeesCount.svelte
  src/lib/components/im/ImThreadView.svelte
Due: none

Fix MapMarkerInput
  src/lib/components/input/location/MapMarkerInput.svelte
Due: none

Break words in event info
  src/lib/components/main-bonfire-event/EventInfo.svelte
Due: none

Fix issue with map to set manual location
  src/lib/components/input/location/MapMarkerInput.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
Due: none

Improve event form styling
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/GuestCountFeature.svelte
  src/lib/enums.ts
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Create first pass at count normalization in events e2e passing
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/rsvp.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/temp-user/update-rsvp/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/attend/user/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Don't count attendees on bonfire page load, normalize counts e2e passing
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
  src/lib/profilestore.ts
  src/lib/rsvp.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(user)/onboarding/permissions/+page.svelte
  src/scripts/seed.ts
  triplit/schema.ts
Due: lint-js, prettier

Make sure history api works when going backward/forward
  src/lib/components/HistoryApiPageRefresher.svelte
  src/routes/+layout.svelte
Due: none

Show unsplash images with lightbox working
  cache/patato.json
  cache/plane.json
  cache/rsg.json
  package.json
  pnpm-lock.yaml
  src/lib/components/Onboarding.svelte
  src/lib/components/main-bonfire-event/BannerUploader.svelte
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
  src/routes/(user)/unsplash/search/+server.ts
Due: lint-js, prettier

About to remove tabs on upload banner
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
Due: none

Set url to bonfire banner!
  src/lib/components/main-bonfire-event/BannerUploader.svelte
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
Due: none

Save author info for unsplash credits
  src/lib/components/main-bonfire-event/BannerUploader.svelte
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
  src/lib/server/filestorage.ts
  src/lib/server/tus.ts
  src/lib/types.ts
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Add searching state for ImageSearcher
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
Due: none

Show unsplash attribution on bonfire banner
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/types.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/get-banner/+server.ts
Due: lint-js, prettier

Add hover effects on unsplash searcher
  src/lib/components/main-bonfire-event/image-searcher/ImageResult.svelte
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
Due: none

Fix minor style issues in banner flow
  src/lib/components/main-bonfire-event/BannerUploader.svelte
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
Due: none

Banner appearing on event card
  src/lib/components/BonfireNoInfoCard.svelte
  src/lib/components/EventCard.svelte
  src/lib/components/attendance/AttendeesCount.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/rsvp/UpdatePlusOneSelect.svelte
  src/lib/gallery.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.svelte
  src/routes/(user)/dashboard/+page.server.ts
  src/routes/(user)/dashboard/+page.svelte
Due: lint-js, prettier

Fix event width to not overflow
  src/lib/components/BonfireNoInfoCard.svelte
  src/lib/components/main-bonfire-event/EventHistory.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
Due: none

Make delete btn for event smaller
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/buttons/DeleteEventBtn.svelte
Due: none

Add infinite loading for unsplash images
  cache/plane.json
  src/lib/components/main-bonfire-event/image-searcher/ImageSearcher.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
  src/routes/(user)/unsplash/search/+server.ts
Due: lint-js, prettier

Trigger unsplash download endpoint
  src/lib/components/main-bonfire-event/BannerUploader.svelte
  src/lib/server/tus.ts
  src/lib/server/unsplash.ts
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
  src/routes/(user)/unsplash/search/+server.ts
Due: lint-js, prettier

Improve unsplash flow
  src/lib/components/main-bonfire-event/BannerUploader.svelte
  src/lib/components/main-bonfire-event/BonfireBanner.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/main-bonfire-event/image-searcher/ImageResult.svelte
  src/routes/(bonfire)/bonfire/[[id]]/banner/edit/+page.svelte
  src/routes/(user)/unsplash/search/+server.ts
Due: lint-js, prettier
