Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Don't support reporting messages for now
  src/lib/components/im/MessageContextMenu.svelte
Due: none

Toggle emojis on messages
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/Message.svelte
  src/lib/components/im/MessageContextMenu.svelte
  src/lib/emoji.ts
  src/lib/enums.ts
  triplit/schema.ts
Due: lint-js, prettier

Show emojis on message
  src/lib/components/im/Message.svelte
  src/lib/components/im/MessageContent.svelte
  src/lib/components/im/MessageContextMenu.svelte
Due: none

Update emoji count live
  src/lib/components/im/Message.svelte
Due: none

Add dropdow showing who left emoji (userid only for now)
  src/lib/components/im/EmojiContextMenu.svelte
  src/lib/components/im/Message.svelte
  src/lib/components/im/MessageContextMenu.svelte
Due: none

Fix profile image size
  package.json
  pnpm-lock.yaml
  src/lib/components/ProfileAvatar.svelte
  src/lib/profilestore.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/profile/profile-images/+server.ts
Due: lint-js, prettier

Cache small profile image with profile info
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/im/Message.svelte
  src/lib/filestorage.ts
  src/lib/profilestore.ts
  src/lib/utils.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
  src/routes/(user)/profile/profile-images/+server.ts
  src/routes/(user)/profile/username/+page.svelte
  triplit/schema.ts
Due: lint-js, prettier

Live update attendee list when removing attendee
  src/lib/components/ProfileAvatar.svelte
  src/lib/profilestore.ts
Due: lint-js, prettier

Add ProfileAvatar to messaging
  src/lib/components/Announcement.svelte
  src/lib/components/ProfileAvatar.svelte
  src/lib/components/im/EmojiContextMenu.svelte
Due: none

Add alpha deployment
  config/deploy-prod.yml
Due: none

Downgrade idb to not conflict with triplit for node build
  package.json
  pnpm-lock.yaml
Due: prettier

update port
  config/deploy.yml
Due: none

Update kamal for beta
  config/deploy-prod.yml
  config/deploy.yml
Due: none

Add accessories
  config/deploy.yml
Due: none

Adding accessories
  config/deploy.yml
Due: none

Translate turso models to triplit
  src/lib/server/emailtoken.ts
  src/lib/server/signin.ts
  src/lib/server/tasklock.ts
  src/lib/server/user.ts
  triplit/schema.ts
Due: lint-js, prettier

Almost done removing all sqlite refs
  src/lib/server/push.ts
  src/lib/server/user.ts
  src/routes/(login)/login/+page.server.ts
  src/routes/(login)/login/email-verification/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
  src/routes/(login)/login/otp-verification/+server.ts
  src/routes/(user)/settings/+page.server.ts
  src/routes/(user)/settings/push/subscribe/+server.ts
  src/routes/(user)/settings/push/toggle-permission/+server.ts
  src/routes/(user)/settings/push/unsubscribe/+server.ts
  src/scripts/seed.ts
  tests/notifications.test.ts
  triplit/schema.ts
Due: lint-js, prettier

Create prod/alpha deploy pipelines
  .gitignore
  config/deploy.prod.yml
  config/deploy.staging.yml
  config/deploy.yml
  triplit/schema.ts
Due: lint-js, prettier

Clean up deploy files
  config/deploy.staging.yml
Due: none

Create pre-deploy hook (untested)
  .kamal/hooks/pre-deploy
  .kamal/hooks/samples/docker-setup.sample
  .kamal/hooks/samples/post-deploy.sample
  .kamal/hooks/samples/post-proxy-reboot.sample
  .kamal/hooks/samples/pre-build.sample
  .kamal/hooks/samples/pre-connect.sample
  .kamal/hooks/samples/pre-deploy.sample
  .kamal/hooks/samples/pre-proxy-reboot.sample
  migrate.ts
Due: lint-js, prettier

Update staging to use different server
  config/deploy.staging.yml
Due: none

Small change to staging
  config/deploy.staging.yml
Due: none

Fix pre-deploy hook
  .kamal/hooks/pre-deploy
Due: none

Move pre-deploy to pre-build
  .kamal/hooks/pre-build
  .kamal/hooks/pre-deploy.sample
Due: none

Run db migrations on app boot
  .kamal/hooks/pre-build
  migrate.ts
  src/hooks.server.ts
  src/lib/cli_drizzle_migrations.ts
  src/lib/server/migrations.ts
  src/lib/server/triplit.ts
Due: lint-js, prettier

Run migrations in staging
  src/hooks.server.ts
  src/lib/server/triplit.ts
Due: lint-js, prettier

Include drizzle migrations in dockerfile
  Dockerfile
Due: none

Update pnpm packages
  package.json
  pnpm-lock.yaml
Due: prettier

Still failing to run triplit migrations in prod
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/lib/server/triplit.ts
Due: lint-js, prettier

Ditch pushing triplit schema from prod for now
  src/lib/server/migrations.ts
Due: lint-js, prettier

Run migrations locally (fuck me)
  .gitignore
  migrate.ts
  package.json
  src/lib/server/migrations.ts
Due: lint-js, prettier

Comment out initializeDatabaseSchemas
  migrate.ts
  src/hooks.server.ts
Due: lint-js, prettier

Add custom environment var for sentry logging
  src/hooks.server.ts
Due: lint-js, prettier

Update PUBLIC_ORIGIN causing issues with staging SW
  config/deploy.staging.yml
Due: none

Update deploys
  config/deploy.prod.yml
  config/deploy.staging.yml
Due: none

Fix dark style for "set username" btn
  config/deploy.staging.yml
  src/routes/(user)/profile/+page.svelte
Due: none

Create standalone AttendeesDialog
  src/lib/components/AttendeesDialog.svelte
  src/lib/server/push.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: lint-js, prettier

Introduce small delay in AttendeesDialog
  src/lib/components/AttendeesDialog.svelte
Due: none

Minor e2e fixes, back nav for temp user now working
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/components/Announcement.svelte
  src/lib/components/EventForm.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+layout.svelte
Due: lint-js, prettier

Don't allow redirecting to event before it's created
  src/lib/components/EventForm.svelte
Due: none

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
