Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Add disable/enable reminder
  src/lib/components/eventform/reminders/Reminder.svelte
Due: none

Create ShowUsersWontBeReached
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/eventform/reminders/Reminder.svelte
  src/lib/components/eventform/reminders/ShowUsersWontBeReached.svelte
  src/lib/components/settings/ToggleGeneralSettingModal.svelte
  src/lib/permissions.ts
  triplit/schema.ts
Due: lint-js, prettier

Update notif perms
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/PermissionToggle.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Clean up permissions stuff a bit
  src/lib/components/eventform/reminders/ShowUsersWontBeReached.svelte
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/delivery-permissions/EmailDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/SmsDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
  src/lib/permissions.ts
  src/lib/server/database/user.model.ts
  triplit/schema.ts
Due: lint-js, prettier

Update triplit
  package.json
  pnpm-lock.yaml
Due: prettier

PermissionsPausedMsg has a bug, not using for now
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/settings/PermissionsPausedMsg.svelte
  src/routes/(user)/dashboard/+page.svelte
Due: none

Add onboarding screen for permissions
  src/lib/components/settings/DeliveryPermissions.svelte
  src/routes/(user)/onboarding/free-logs/+page.svelte
  src/routes/(user)/onboarding/permissions/+page.svelte
  src/routes/(user)/profile/username/+page.svelte
Due: none

Fixed some e2e, more to go
  e2e/general.spec.ts
  e2e/shared.ts
Due: lint-js, prettier

Minor changes and improvements
  src/lib/components/BackButton.svelte
  src/lib/components/event-styles/EventStyler.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/input/tiptap/TipTapTextEditor.svelte
  src/lib/triplit.ts
Due: lint-js, prettier

Fixing more e2e tests
  e2e/general.spec.ts
  e2e/shared.ts
  src/lib/components/BackButton.svelte
  src/routes/(user)/onboarding/free-logs/+page.svelte
  src/routes/(user)/onboarding/permissions/+page.svelte
Due: lint-js, prettier

Remove model from drizzle
  drizzle/0010_fixed_grandmaster.sql
  drizzle/meta/0010_snapshot.json
  drizzle/meta/_journal.json
  src/lib/server/database/schema.ts
  src/routes/(user)/settings/account_deletion/+server.ts
Due: lint-js, prettier

Create basic new notification system
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/enums.ts
  src/lib/server/notifications.ts
  src/lib/server/reminders.ts
  src/lib/server/triplit.ts
  src/lib/sms.ts
  src/lib/webpush.ts
  triplit/schema.ts
Due: lint-js, prettier

Add unsubscription link to emails
  src/lib/enums.ts
  src/lib/permissions.ts
  src/lib/server/database/user.model.ts
  src/lib/server/email/email.ts
  src/lib/server/email/layout.html
  src/lib/server/email/notification-email.html
  src/lib/server/notifications.ts
  src/lib/sms.ts
  src/routes/(login)/login/+page.server.ts
  src/routes/(user)/settings/phone/send-verification-code/+server.ts
  src/routes/email-subscriptions/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Did all visible changes necessary for notifications, about to test
  src/lib/server/email/email.ts
  src/lib/server/email/notification-email.html
  src/lib/server/notifications.ts
Due: lint-js, prettier

Create percentProfitsToCharity
  src/lib/components/About.svelte
  src/lib/components/landing/FAQ.svelte
  src/lib/components/landing/Pricing.svelte
  src/lib/components/payments/SelectNonProfitAlert.svelte
  src/lib/enums.ts
Due: lint-js, prettier

Add notifications link to sms
  src/lib/server/notifications.ts
  src/lib/sms.ts
Due: lint-js, prettier

Add slide effect to notification
  src/lib/components/notifications/Notification.svelte
Due: none

Update permissions for delivery and notification perms
  src/scripts/seed.ts
  triplit/schema.ts
Due: lint-js, prettier

Improve reminder automatic text update
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/reminders/EventReminders.svelte
  src/lib/components/eventform/reminders/Reminder.svelte
  src/lib/triplit.ts
  src/lib/utils.ts
Due: lint-js, prettier

Disable share button if event is not published
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Upgrade triplit
  package.json
  pnpm-lock.yaml
  tests/notifications.test.ts
Due: lint-js, prettier

Major refactor of notif system
  src/lib/enums.ts
  src/lib/permissions.ts
  src/lib/scheduler.ts
  src/lib/server/notifications.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/notifications.ts
  src/lib/server/triplit.ts
  tests/notifications.test.ts
  triplit/schema.ts
Due: lint-js, prettier

Add pre-build step for UTs
  .kamal/hooks/pre-build
Due: none

Add object_ids_set for notifs
  src/lib/components/Header.svelte
  src/lib/components/announcements/AnnouncementHistory.svelte
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/Message.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/NotificationsIndicator.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/notifications.ts
  src/lib/types.ts
  tests/notifications.test.ts
  triplit/schema.ts
Due: lint-js, prettier

UTs passing
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/Message.svelte
  src/lib/notification_queue.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/notifications.ts
  tests/notifications.test.ts
  triplit/schema.ts
Due: lint-js, prettier

Correct generation of attendee id
  src/lib/rsvp.ts
Due: lint-js, prettier

Attendee notifications being grouped now, config issue... All e2e passing
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/server/notifications/engine.ts
  src/scripts/seed.ts
  tests/notifications.test.ts
Due: lint-js, prettier

Correct notification text
  src/lib/components/notifications/Notifications.svelte
  src/lib/server/notifications.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/notifications.ts
  src/lib/server/reminders.ts
Due: lint-js, prettier

Notifications improving
  src/lib/components/im/ImThreadView.svelte
  src/lib/components/im/NumNewMessageIndicator.svelte
Due: none

Improve notifications in FE
  src/lib/components/notifications/Notification.svelte
  src/lib/scheduler.ts
  src/lib/server/notifications/reminders.ts
Due: lint-js, prettier

Improve notif styling and data
  src/lib/components/im/MessageContent.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/server/notifications/engine.ts
Due: lint-js, prettier

Add UTs for getting audience
  src/lib/permissions.ts
  src/lib/server/notifications/notifications.ts
  src/lib/server/notifications/reminders.ts
  src/lib/server/triplit.ts
  tests/notifications.test.ts
  tests/permissions.test.ts
  triplit/schema.ts
Due: lint-js, prettier

Update UTs
  package.json
  pnpm-lock.yaml
  src/lib/permissions.ts
  src/lib/server/triplit.ts
  tests/notifications.test.ts
Due: lint-js, prettier

Try to improve loaders for rsvp flow
  src/lib/components/rsvp/Rsvp.svelte
  src/lib/components/rsvp/RsvpNameWithLoader.svelte
Due: none

store email in triplit on user creation
  src/lib/server/database/user.model.ts
  triplit/schema.ts
Due: lint-js, prettier

Push and email notif sent!
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/webpush.ts
Due: lint-js, prettier

Show loading on RSVP when first RSVP-ing
  src/lib/components/rsvp/Rsvp.svelte
Due: none

Only notify for maybe/going rsvp
  src/lib/rsvp.ts
Due: lint-js, prettier

Notification email looking good
  src/lib/enums.ts
  src/lib/server/email/login-email.html
  src/lib/server/email/notification-email.html
  src/lib/server/notifications/engine.ts
Due: lint-js, prettier

Reminder tasks looking good but hard to test
  src/lib/scheduler.ts
  src/lib/server/email/email.ts
  src/lib/server/notifications/engine.ts
Due: lint-js, prettier

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
