Repository leomorpho/bonfire: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, prettier

lint-js:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

Turn off sms for now
  src/lib/enums.ts
Due: lint-js, prettier

Turn of prebuild hook for kamal for now
  .kamal/hooks/pre-build
Due: none

Turn off sms processing in notif engine
  src/lib/server/notifications/engine.ts
Due: lint-js, prettier

Regen pnpm lock file
  pnpm-lock.yaml
Due: none

Remove oslo dep All e2e passing
  package.json
  pnpm-lock.yaml
  src/lib/server/database/emailtoken.model.ts
  src/lib/server/database/signin.model.ts
  src/lib/utils.ts
  src/routes/(login)/login/email-verification/+server.ts
  src/routes/(login)/login/google/callback/+server.ts
  src/routes/(login)/login/otp-verification/+server.ts
Due: lint-js, prettier

All e2e passing, removed cmdk-sv
  package.json
  pnpm-lock.yaml
Due: prettier

Remove svelte-input-otp for shadcn-svelte component instead All e2e passing
  e2e/shared.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/settings/delivery-permissions/sms/PhoneSettings.svelte
  src/routes/(login)/login/+page.svelte
Due: lint-js, prettier

Update all packages! Except for stripe, as I remember there's an issue with the latest version with justship
  package.json
  pnpm-lock.yaml
Due: prettier

Fix tailwind, downgrade tus due to breakage
  components.json
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/components/Footer.svelte
  src/lib/components/ui/sonner/sonner.svelte
  src/lib/filestorage.ts
  src/routes/(bonfire)/bonfire/[[id]]/banner/upload/+page.svelte
  src/routes/(bonfire)/bonfire/[[id]]/media/add/+page.svelte
  src/routes/(user)/profile/upload-profile-image/+page.svelte
  src/routes/+layout.svelte
  tailwind.config.ts
Due: lint-js, prettier

Fix sonner toast styling
  src/lib/components/ui/sonner/sonner.svelte
  src/routes/+layout.svelte
Due: none

Increase node heap size
  Dockerfile
Due: none

Remove some unused deps
  package.json
  pnpm-lock.yaml
  src/lib/components/main-bonfire-event/EventHistory.svelte
Due: prettier

Show "no historical changes" in profile view
  src/lib/components/profile/profile-avatar/history/ProfileHistory.svelte
Due: none

Update map from address
  src/lib/components/input/location/AddressInput.svelte
  src/lib/components/input/location/LocationInput.svelte
  src/lib/components/input/location/MapMarkerInput.svelte
Due: none

Preload fonts
  src/lib/components/eventform/EventForm.svelte
Due: none

Let bring item height expand
  src/lib/components/bringlist/items/BringListItem.svelte
Due: none

Update map input for event form
  src/lib/components/input/location/LocationInput.svelte
  src/lib/components/input/location/MapMarkerInput.svelte
  src/lib/components/map/Map.svelte
Due: none

FInish toggle for RequiredBringItemForAttendance
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/eventform/RequiredBringItemForAttendance.svelte
  triplit/schema.ts
Due: lint-js, prettier

Turn off sms perms for now
  src/lib/components/settings/DeliveryPermissions.svelte
Due: none

Update check for push notif...see if it works
  src/lib/components/InstallPwaBtn.svelte
  src/lib/components/main-bonfire-event/EventInfo.svelte
  src/lib/components/settings/DeliveryPermissions.svelte
  src/lib/components/settings/NotificationTypes.svelte
  src/lib/components/settings/delivery-permissions/PushDeliveryPermission.svelte
  src/lib/components/settings/delivery-permissions/PushSubscriptionPermission.svelte
  src/lib/utils.ts
Due: lint-js, prettier

Bring list improved
  src/lib/components/BonfireNoInfoCard.svelte
  src/lib/components/bringlist/BringItemProgressBar.svelte
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/bringlist/BringListItemsSortedByUsers.svelte
  src/lib/components/bringlist/items/IndividualBringListItem.svelte
  src/lib/components/bringlist/items/SharedBringListItem.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
  src/lib/components/profile/profile-avatar/ProfileAvatar.svelte
Due: none

Force bring list when enabled
  src/lib/components/BonfireNoInfoCard.svelte
  src/lib/components/bringlist/BringItemProgressBar.svelte
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/bringlist/RequireUserBringSomething.svelte
  src/lib/components/eventform/EventForm.svelte
  src/routes/(bonfire)/bonfire/[[id]]/+page.svelte
Due: none

Update bring list for better versatility
  src/lib/components/bringlist/BringItemProgressBar.svelte
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/bringlist/BringListItemsSortedByUsers.svelte
  src/lib/components/bringlist/items/IndividualBringListItem.svelte
  src/lib/components/bringlist/items/SharedBringListItem.svelte
Due: none

Fix announcement notifications flattened and showing fine
  src/lib/components/announcements/Announcement.svelte
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
Due: none

Prevent dragging map when scrolling bonfire
  src/lib/components/map/Map.svelte
  src/lib/components/notifications/Notifications.svelte
Due: none

Improve resilience of Announcement creation (faced dupes)
  src/lib/components/announcements/AnnouncementForm.svelte
  src/lib/utils.ts
Due: lint-js, prettier

Improve required bring list
  src/lib/components/bringlist/BringList.svelte
  src/lib/components/bringlist/RequireUserBringSomething.svelte
  src/lib/components/main-bonfire-event/Bonfire.svelte
Due: none

Correct seen by announcement dialog
  src/lib/components/announcements/AnnouncementHistory.svelte
Due: none

Try to prevent dupes for reminders
  src/lib/triplit.ts
  src/lib/utils.ts
Due: lint-js, prettier

Prevent editting event time after event passed
  src/lib/components/AmPmPicker.svelte
  src/lib/components/Datepicker.svelte
  src/lib/components/DoubleDigitsPicker.svelte
  src/lib/components/eventform/EventForm.svelte
  src/lib/components/im/ImThreadView.svelte
Due: none

All e2e passing
  src/lib/components/eventform/EventForm.svelte
  src/routes/(user)/onboarding/free-logs/+page.svelte
Due: none

Correct admin notifs
  src/lib/components/notifications/Notification.svelte
  src/lib/components/notifications/Notifications.svelte
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/notifications.ts
Due: lint-js, prettier

Move some files around
  src/hooks.server.ts
  src/lib/server/filestorage.ts
  src/lib/server/geocoding.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/payments.ts
  src/lib/server/tus.ts
  src/lib/server/webpush.ts
  src/routes/(bonfire)/bonfire/[[id]]/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/delete/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+page.server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/gallery/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/get-banner/+server.ts
  src/routes/(bonfire)/bonfire/[[id]]/media/mini-gallery/+server.ts
  src/routes/(bonfire)/bonfire/create/geocode/+server.ts
  src/routes/(user)/profile/+page.server.ts
  src/routes/(user)/profile/profile-images/+server.ts
  src/routes/(user)/settings/account_deletion/+server.ts
  src/routes/stripe/webhook/+server.ts
  src/scripts/seed.ts
Due: lint-js, prettier

Move deleted user state to triplit
  src/lib/server/database/emailtoken.model.ts
  src/lib/server/database/schema.ts
  src/routes/(user)/settings/account_deletion/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Move task lock to triplit All e2e running
  src/lib/scheduler.ts
  src/lib/server/database/schema.ts
  src/lib/server/database/tasklock.ts
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/reminders.ts
  src/lib/server/tasks.ts
  src/routes/(login)/login/email-verification/+server.ts
  src/routes/(login)/login/otp-verification/+server.ts
  triplit/schema.ts
Due: lint-js, prettier

Drop some drizzle tables
  drizzle/0011_cool_malice.sql
  drizzle/meta/0011_snapshot.json
  drizzle/meta/_journal.json
  src/lib/components/main-bonfire-event/EventInfo.svelte
Due: prettier

Make sure user who trigger notif don't receive notif
  src/lib/server/notifications/engine.ts
  src/lib/server/notifications/notifications.ts
  src/lib/server/triplit.ts
Due: lint-js, prettier

Update setProfilePicAlert boolean show cond
  src/lib/components/main-bonfire-event/SetProfilePicAlert.svelte
Due: none

Create draft of runGiveFreeLogToInitialInviterTask (untested)
  src/hooks.server.ts
  src/lib/enums.ts
  src/lib/notification_queue.ts
  src/lib/server/notifications/free_logs.ts
  src/lib/server/notifications/notification_engine.ts
  src/lib/server/notifications/notifications.ts
  src/lib/server/notifications/reminders.ts
  src/lib/server/payments.ts
  src/lib/server/scheduler.ts
  tests/notifications.test.ts
  triplit/schema.ts
Due: lint-js, prettier

Write currently failing test
  e2e/general.spec.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/bringlist/BringList.svelte
  tests/.svelte-kit/ambient.d.ts
  tests/.svelte-kit/generated/client/app.js
  tests/.svelte-kit/generated/client/matchers.js
  tests/.svelte-kit/generated/client/nodes/0.js
  tests/.svelte-kit/generated/client/nodes/1.js
  tests/.svelte-kit/non-ambient.d.ts
  tests/.svelte-kit/tsconfig.json
  tests/free_logs.test.ts
  tests/notifications.test.ts
  vite.config.ts
Due: lint-js, prettier

Path conditions:
  lint-js: any of: *.{js,ts}
  prettier: any of: *.{js,ts,json,css,md}
